openapi: 3.2.0
info:
  title: Canoe Intelligence Authentication API
  version: '1.0'
  description: 'Operations tagged Authentication across 2 of this provider''s published API definitions: canoe-intelligence-api-docs-v1-original.yaml, canoe-intelligence-api-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.canoesoftware.com
  description: Production API
tags:
- name: Authentication
  description: ''
paths:
  Authentication Error Responses:
    get:
      tags:
      - Authentication
      summary: Authentication error responses
      description: 'Authentication Error Responses


        When authentication fails, Canoe''s API returns detailed error responses to help you diagnose and resolve issues. All authentication errors follow a consistent format with the following fields:


        Field

        Type

        Description


        error_code

        String

        A machine-readable error code that identifies the specific type of error (e.g., INVALID_CREDENTIALS, MALFORMED_JWT, RATE_LIMIT_EXCEEDED)


        error_description

        String

        A human-readable description of what went wrong


        hint

        String

        Actionable guidance on how to resolve the error


        Common Authentication Errors


        Invalid Credentials (400)


        {

        "error_code": "INVALID_CREDENTIALS",

        "error_description": "The user credentials were incorrect",

        "hint": "Please verify your client_id and client_secret are correct"

        }


        Malformed JWT Token (401)


        {

        "error_code": "MALFORMED_JWT",

        "error_description": "Token structure is invalid",

        "hint": "JWT tokens must have format: header.payload.signature"

        }


        Rate Limit Exceeded (429)


        {

        "error_code": "RATE_LIMIT_EXCEEDED",

        "error_description": "Too many failed authentication attempts",

        "retry_after": 60,

        "hint": "Please check your credentials and wait 60 seconds before trying again"

        }


        Rate Limiting: To protect against brute-force attacks, Canoe implements rate limiting on authentication endpoints. If you receive a 429 error, wait for the time specified in the retry_after field before attempting to authenticate again.


        Best Practices:


        Store your client credentials securely and never commit them to version control


        Implement exponential backoff when retrying failed authentication requests


        Monitor the error_code field in your error handling to respond appropriately to different error types'
      operationId: AuthenticationErrorResponses
      x-summary-source: derived
  Managing OAuth Clients:
    get:
      tags:
      - Authentication
      summary: Manage auth client
      description: 'To verify incoming API requests, Canoe''s APIs use access tokens.


        Canoe API users may create and manage their OAuth Client, and use the Client ID and Client Secret to request an authorization code and access token.


        Canoe API users can also use the /v1/tokens endpoint to manage the access tokens. To authenticate to the /v1/tokens endpoint, you will need API user credentials. This is one of the few API endpoints where you will need to use your user credentials; most other endpoints are authenticated through access tokens.


        Note: An access token issued from Canoe will expire in 24 hours.


        Once you have an access token, you can authenticate to Canoe''s API endpoints. Pass the access token in the request header in the format Authorization: Bearer {token}, where {token} is your newly created personal access token.


        For example, if your newly created access token is "eyJ0eXAiOiJKV1QiLCJhbG", your header should look like "Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbG"


        If you are using Postman Collection for testing purpose, you could follow the steps here: Authorization - Bearer Token


        Note: Sometimes, you want to give API access only to some specific IP addresses. Please contact us to enable that.


        Developers building applications that need to interact with Canoe''s API need to first register their application by creating a Client account. Typically, this consists of providing the name of their application and a URL that your application can redirect to after users approve their request for authorization. When a Client is created, it will be issued a Client ID and Client Secret. These values will be used when requesting access tokens from your application.


        Canoe API users can create and manage their OAuth Clients through the API Configuration Dashboard.'
      operationId: ManageAuthClient
      x-summary-source: derived
  Requesting Tokens - Authorization Code:
    post:
      tags:
      - Authentication
      summary: Requesting tokens auth codes
      description: '/oauth/token


        Once a client has been created, you may use the Client ID and Client Secret to request an

        authorization code and access token from your application. First, your application should make a redirect request to

        Canoe''s oauth/authorize route (see examples on the right panel)


        When receiving authorization requests, Canoe will ask users to approve or deny the authorization request. If users approve the request, they will be redirected back to the redirect_uri that was specified by the application that requested access (your application). The redirect_uri must match the redirect URL that was specified when the client was created.


        If the user approves the authorization request, they will be redirected back to the consuming application with the authorization code. The consumer should then issue a POST request to Canoe to request an access token. The request should include the authorization code that was issued by Canoe when the user approved the authorization request. See examples on the right panel and the parameters for the POST request below.'
      operationId: RequestingTokensAuthCodes
      parameters:
      - name: grant_type
        in: body
        description: The grant_type parameter must be set to "authorization_code".
        required: true
        schema:
          type: string
          example:
            grant_type: authorization_code
      - name: client_id
        in: body
        description: Your Application's Client ID.
        required: true
        schema:
          type: string
          example:
            client_id: client-id
      - name: client_secret
        in: body
        description: Your Application's Client Secret.
        required: true
        schema:
          type: string
          example:
            client_secret: your_client_secret
      - name: redirect_uri
        in: body
        description: Your Application's redirect URL. <b>It must match the redirect URL that was specified when the client was created.</b>
        required: true
        schema:
          type: string
          example:
            redirect_uri: https://your-application.com/callback
      - name: code
        in: body
        description: The authorization code issued by Canoe when the user approved the authorization request.
        required: true
        schema:
          type: string
          example:
            code: code
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              bash:
                description: "-\n      #Please go to the link below to authorize access.\n      https://api.canoesoftware.com/oauth/authorize?client_id=YOUR_CLIENT_ID&redirect_uri=YOUR_REDIRECT_URI&response_type=code\n\n      #Please copy the 'YOUR_AUTHORIZATION_CODE' in the redirect url(YOUR_REDIRECT_URI?code=YOUR_AUTHORIZATION_CODE) after approving access\n      curl -X POST \"https://api.canoesoftware.com/oauth/token\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\" \\\n          -H \"Content-Type: application/x-www-form-urlencoded\" \\\n          -d \"grant_type=authorization_code&code=YOUR_AUTHORIZATION_CODE&redirect_uri=YOUR_REDIRECT_URI&client_id=YOUR_CLIENT_ID&client_secret=YOUR_CLIENT_SECRET\"\n"
                summary: Bash
              Javascript:
                description: "-\n      const readline = require('readline');\n      const rl = readline.createInterface({\n          input: process.stdin,\n          output: process.stdout\n      });\n      const client_id = 'client_id';\n      const client_secret = 'client_secret';\n      const redirect_uri = 'https://your-application.com/callback';\n      const url = new URL(\"https://api.canoesoftware.com/oauth/authorize\");\n      let params = {\n          \"client_id\": client_id,\n          \"client_secret\": client_secret,\n          \"redirect_uri\": redirect_uri,\n          \"response_type\": 'code',\n      };\n      Object.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n      console.log('Please go to %s and authorize access.', url)\n      rl.question('Enter the authorization code returned in the callback URL.', (answer) => {\n          let code = answer;\n          let headers = {\n              \"Accept\": \"application/json\",\n              \"X-Requested-With\": \"XMLHttpRequest\",\n              \"Content-Type\": \"application/json\",\n          }\n          let body = {\n              'grant_type': \"authorization_code\",\n              'client_id': client_id,\n              'client_secret': client_secret,\n              'redirect_uri': redirect_uri,\n              'code': code,\n          };\n          axios.request('https://api.canoesoftware.com/oauth/token', {\n              method: \"POST\",\n              headers: headers,\n              data: body\n          })\n              .then(response => {\n                  console.log(response.data)\n              })\n              .catch(error => {\n                  console.log(error);\n              })\n          rl.close();\n      });\n"
                summary: JavaScript
              PHP:
                description: "-\n      Route::get('/redirect', function () {\n          $query = http_build_query([\n          'client_id' => 'client-id',\n          'redirect_uri' => 'https://your-application.com/callback',\n          'response_type' => 'code',\n          'scope' => '',\n          ]);\n          return redirect('https://api.canoesoftware.com/oauth/authorize?'.$query);\n      });\n\n\n      Route::get('/callback', function (Request $request) {\n          $http = new GuzzleHttp\\Client;\n          $response = $http->post('https://api.canoesoftware.com/oauth/token', [\n              'form_params' => [\n                  'grant_type' => 'authorization_code',\n                  'client_id' => 'client-id',\n                  'client_secret' => 'client-secret',\n                  'redirect_uri' => 'https://your-application.com/callback',\n                  'code' => $request->code,\n              ],\n          ]);\n          return json_decode((string) $response->getBody(), true);\n      });\n"
                summary: PHP
              Python:
                description: "-\n      #This sample requires python OAuth library requests_oauthlib\n\n      from requests_oauthlib import OAuth2Session\n      import json\n      client_id = \"client_id\"\n      client_secret = \"client_secret\"\n      redirect_uri = \"https://your-application.com/callback\"\n      oauth = OAuth2Session(client_id, redirect_uri=redirect_uri)\n      authorization_url, state = oauth.authorization_url('https://api.canoesoftware.com/oauth/authorize')\n      print('Please go to {} and authorize access.'.format(authorization_url))\n      authorization_response = input('Enter the full callback URL')\n      token = oauth.fetch_token(\n      'https://api.canoesoftware.com/oauth/token',\n      authorization_response=authorization_response,\n      client_id=client_id,\n      client_secret=client_secret)\n      print(token)\n"
                summary: Python
              CSharp:
                description: "-\n      using System;\n      using System.Threading;\n      using RestSharp;\n\n      var client_id = \"your_client_id\";\n      var client_secret = \"your_client_secret\";\n      var redirect_uri = \"your_redirect_url\";\n      var baseUrl = \"https://api.canoesoftware.com\";\n      var client = new RestClient(baseUrl);\n      var request = new RestRequest(string.Format(\"/oauth/authorize?response_type=code&client_id={0}&client_secret={1}&redirect_uri={2}\",client_id, client_secret, System.Web.HttpUtility.UrlEncode(redirect_uri)), Method.Get);\n      var url = client.BuildUri(request).ToString();\n      //The below workflow assumes the user does not have control over the redirect_uri\n      //If the redirect_uri goes to your application, you can request a token by exchanging the authorization code directly\n      string auth_code = null;\n      var ps = new System.Diagnostics.ProcessStartInfo(url)\n      {\n          UseShellExecute = true,\n          Verb = \"open\"\n      };\n      //This will open your default browser\n      System.Diagnostics.Process.Start(ps);\n      //Please copy the 'THE_AUTHORIZATION_CODE' in the redirect url(YOUR_REDIRECT_URI?code=THE_AUTHORIZATION_CODE) after approving access \n      Console.WriteLine(\"Enter the authorization code returned in the callback URL:\");\n      string code = Console.ReadLine();\n      request = new RestRequest(\"/oauth/token\", Method.Post);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddParameter(\"grant_type\", \"authorization_code\");\n      request.AddParameter(\"code\", code);\n      request.AddParameter(\"client_id\", client_id);\n      request.AddParameter(\"client_secret\", client_secret);\n      request.AddParameter(\"redirect_uri\", redirect_uri);\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);\n"
                summary: CSharp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthorizationCode'
      x-summary-source: derived
  Requesting Tokens - Refresh Token:
    post:
      tags:
      - Authentication
      summary: Requesting tokens refresh token
      description: '/oauth/token


        Users can refresh their access tokens via the refresh token that was provided to them when the access token was issued.


        Users should issue a POST request to Canoe to request an access token. See examples on the right panel and the parameters for the POST request below.'
      operationId: RequestingTokensRefreshToken
      parameters:
      - name: grant_type
        in: body
        description: refresh_token.
        required: true
        schema:
          type: string
          example:
            grant_type: refresh_token
      - name: client_id
        in: body
        description: Your Application's Client ID.
        required: true
        schema:
          type: string
          example:
            client_id: your_client_id
      - name: client_secret
        in: body
        description: Your Application's Client Secret.
        required: true
        schema:
          type: string
          example:
            client_secret: your_client_secret
      - name: refresh_token
        in: body
        description: The refresh_token issued by Canoe when the access token was issued.
        required: true
        schema:
          type: string
          example:
            refresh_token: def50200a24fe7672ce8653724d90090ca68fc4729a04b1051b2c8
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              bash:
                description: "-\n      curl -X POST \"https://api.canoesoftware.com/oauth/token\" \\\n      -H \"Accept: application/json\" \\\n      -H \"X-Requested-With: XMLHttpRequest\" \\\n      -H \"Content-Type: application/x-www-form-urlencoded\" \\\n      -d \"grant_type=refresh_token&client_id=your_client_id&client_secret=your_client_secret&refresh_token=your_refresh_token\"\n"
                summary: Bash
              Javascript:
                description: "-\n      const url = new URL(\"https://api.canoesoftware.com/oauth/token\");\n      let headers = {\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      }\n      let body = {\n        'grant_type': \"refresh_token\",\n        'client_id': client_id,\n        'client_secret': client_secret,\n        'refresh_token': refresh_token,\n      }\n      fetch(url, {\n          method: \"POST\",\n          headers: headers,\n          body: body\n      }).then(response => response.json()) .then(json => console.log(json));\n"
                summary: JavaScript
              PHP:
                description: "-\n      $client = new \\GuzzleHttp\\Client();\n      $response = $client->post(\"https://api.canoesoftware.com/oauth/token\", [\n          'headers' => [\n              \"Accept\" => \"application/json\",\n              \"X-Requested-With\" => \"XMLHttpRequest\",\n              \"Content-Type\" => \"application/json\",\n          ],\n          'json' => [\n              'grant_type'=> \"refresh_token\",\n              'client_id'=> \"your_client_id\",\n              'client_secret'=> \"your_client_secret\",\n              'refresh_token'=> \"your_refresh_token\",\n          ],\n      ]);\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));\n"
                summary: PHP
              Python:
                description: "-\n      import requests\n      import json\n\n      url = \"https://api.canoesoftware.com/oauth/token\"\n      headers = {\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      }\n      body = {\n          \"grant_type\": \"refresh_token\",\n          \"client_id\": \"your_client_id\",\n          \"client_secret\": \"your_client_secret\",\n          \"refresh_token\": \"def50200a24fe7672ce8653724d90090ca68fc4729a04b1051b2c8\"\n      }\n\n      response = requests.post(url, json.dumps(body), headers=headers, )\n      parsed = json.loads(response.text)\n      print(json.dumps(parsed, indent=4))\n"
                summary: Python
              CSharp:
                description: "-\n      using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"oauth/token\", Method.Post);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddHeader(\"Content-Type\", \"application/json\");\n      request.AddParameter(\"grant_type\",\"refresh_token\");\n      request.AddParameter(\"client_id\",\"your_client_id\");\n      request.AddParameter(\"client_secret\",\"your_client_secret\");\n      request.AddParameter(\"refresh_token\",\"your_refresh_token\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);\n"
                summary: CSharp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthorizationCode'
      x-summary-source: derived
  Requesting Tokens - Client Credentials:
    post:
      tags:
      - Authentication
      summary: Requesting tokens client credentials
      description: '/oauth/token


        Once a client has been created, you may use the Client ID and Client Secret to request an

        to request an access token. Access tokens provide access to all other endpoints within the API.'
      operationId: RequestingTokensClientCredentials
      parameters:
      - name: grant_type
        in: body
        description: The grant_type parameter must be set to "client_credentials".
        required: true
        schema:
          type: string
          example:
            grant_type: client_credentials
      - name: client_id
        in: body
        description: Your Application's Client ID.
        required: true
        schema:
          type: string
          example:
            client_id: client_credentials
      - name: client_secret
        in: body
        description: Your Application's Client Secret.
        required: true
        schema:
          type: string
          example:
            client_secret: your_client_secret
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              bash:
                description: "-\n      curl -X POST \"https://api.canoesoftware.com/oauth/token\" \\\n      -H \"Accept: application/json\" \\\n      -H \"X-Requested-With: XMLHttpRequest\" \\\n      -H \"Content-Type: application/x-www-form-urlencoded\" \\\n      -d \"grant_type=client_credentials&client_id=your_client_id&client_secret=your_client_secret\"\n"
                summary: Bash
              Javascript:
                description: "-\n      const url = new URL(\"https://api.canoesoftware.com/oauth/token\");\n      let headers = {\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      }\n      let body = {\n        'grant_type': \"client_credentials\",\n        'client_id': client_id,\n        'client_secret': client_secret,\n      }\n      fetch(url, {\n          method: \"POST\",\n          headers: headers,\n          body: body\n      }).then(response => response.json()) .then(json => console.log(json));\n"
                summary: JavaScript
              PHP:
                description: "-\n      $client = new \\GuzzleHttp\\Client();\n      $response = $client->post(\"https://api.canoesoftware.com/oauth/token\", [\n          'headers' => [\n              \"Accept\" => \"application/json\",\n              \"X-Requested-With\" => \"XMLHttpRequest\",\n              \"Content-Type\" => \"application/json\",\n          ],\n          'json' => [\n              'grant_type'=> \"client_credentials\",\n              'client_id'=> \"your_client_id\",\n              'client_secret'=> \"your_client_secret\",\n          ],\n      ]);\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));\n"
                summary: PHP
              Python:
                description: "-\n      import requests\n      import json\n\n      url = \"https://api.canoesoftware.com/oauth/token\"\n      headers = {\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      }\n      body = {\n          \"grant_type\": \"client_credentials\",\n          \"client_id\": \"client_credentials\",\n          \"client_secret\": \"your_client_secret\",\n      }\n\n      response = requests.post(url, json.dumps(body), headers=headers, )\n      parsed = json.loads(response.text)\n      print(json.dumps(parsed, indent=4))\n"
                summary: Python
              CSharp:
                description: "-\n      using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"oauth/token\", Method.Post);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddHeader(\"Content-Type\", \"application/json\");\n      request.AddParameter(\"grant_type\",\"client_credentials\");\n      request.AddParameter(\"client_id\",\"your_client_id\");\n      request.AddParameter(\"client_secret\",\"your_client_secret\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);\n"
                summary: CSharp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientCredentials'
      x-summary-source: derived
  /oauth/clients:
    get:
      tags:
      - Authentication
      summary: Managing OAuth Clients
      description: 'To verify incoming API requests, Canoe''s APIs use access tokens.


        Canoe API users may create and manage their OAuth Client, and use the Client ID and Client Secret to request an authorization code and access token.


        Canoe API users can also use the /v1/tokens endpoint to manage the access tokens. To authenticate to the /v1/tokens endpoint, you will need API user credentials. This is one of the few API endpoints where you will need to use your user credentials; most other endpoints are authenticated through access tokens.


        Note: An access token issued from Canoe will expire in 24 hours.


        Once you have an access token, you can authenticate to Canoe''s API endpoints. Pass the access token in the request header in the format Authorization: Bearer {token}, where {token} is your newly created personal access token.


        For example, if your newly created access token is "eyJ0eXAiOiJKV1QiLCJhbG", your header should look like "Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbG"


        If you are using Postman Collection for testing purpose, you could follow the steps here: Authorization - Bearer Token


        Note: Sometimes, you want to give API access only to some specific IP addresses. Please contact us to enable that.


        Developers building applications that need to interact with Canoe''s API need to first register their application by creating a Client account. Typically, this consists of providing the name of their application and a URL that your application can redirect to after users approve their request for authorization. When a Client is created, it will be issued a Client ID and Client Secret. These values will be used when requesting access tokens from your application.


        Canoe API users can create and manage their OAuth Clients through the API Configuration Dashboard.'
      operationId: ManageAuthClient
      responses:
        '200':
          description: Success
      security:
      - bearerAuth: []
    servers:
    - url: https://api.canoesoftware.com
      description: Production API
  /oauth/token:
    post:
      tags:
      - Authentication
      summary: Requesting Tokens - Authorization Code
      description: '/oauth/token


        Once a client has been created, you may use the Client ID and Client Secret to request an

        authorization code and access token from your application. First, your application should make a redirect request to

        Canoe''s oauth/authorize route (see examples on the right panel)


        When receiving authorization requests, Canoe will ask users to approve or deny the authorization request. If users approve the request, they will be redirected back to the redirect_uri that was specified by the application that requested access (your application). The redirect_uri must match the redirect URL that was specified when the client was created.


        If the user approves the authorization request, they will be redirected back to the consuming application with the authorization code. The consumer should then issue a POST request to Canoe to request an access token. The request should include the authorization code that was issued by Canoe when the user approved the authorization request. See examples on the right panel and the parameters for the POST request below.'
      operationId: RequestingTokensAuthCodes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  description: The grant_type parameter must be set to "authorization_code".
                  example: authorization_code
                client_id:
                  type: string
                  description: Your Application's Client ID.
                  example: client-id
                client_secret:
                  type: string
                  description: Your Application's Client Secret.
                  example: your_client_secret
                redirect_uri:
                  type: string
                  description: Your Application's redirect URL. <b>It must match the redirect URL that was specified when the client was created.</b>
                  example: https://your-application.com/callback
                code:
                  type: string
                  description: The authorization code issued by Canoe when the user approved the authorization request.
                  example: code
              required:
              - grant_type
              - client_id
              - client_secret
              - redirect_uri
              - code
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthorizationCode'
      x-codeSamples:
      - lang: bash
        label: Bash
        source: "#Please go to the link below to authorize access.\n      https://api.canoesoftware.com/oauth/authorize?client_id=YOUR_CLIENT_ID&redirect_uri=YOUR_REDIRECT_URI&response_type=code\n\n      #Please copy the 'YOUR_AUTHORIZATION_CODE' in the redirect url(YOUR_REDIRECT_URI?code=YOUR_AUTHORIZATION_CODE) after approving access\n      curl -X POST \"https://api.canoesoftware.com/oauth/token\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\" \\\n          -H \"Content-Type: application/x-www-form-urlencoded\" \\\n          -d \"grant_type=authorization_code&code=YOUR_AUTHORIZATION_CODE&redirect_uri=YOUR_REDIRECT_URI&client_id=YOUR_CLIENT_ID&client_secret=YOUR_CLIENT_SECRET\""
      - lang: javascript
        label: JavaScript
        source: "const readline = require('readline');\n      const rl = readline.createInterface({\n          input: process.stdin,\n          output: process.stdout\n      });\n      const client_id = 'client_id';\n      const client_secret = 'client_secret';\n      const redirect_uri = 'https://your-application.com/callback';\n      const url = new URL(\"https://api.canoesoftware.com/oauth/authorize\");\n      let params = {\n          \"client_id\": client_id,\n          \"client_secret\": client_secret,\n          \"redirect_uri\": redirect_uri,\n          \"response_type\": 'code',\n      };\n      Object.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n      console.log('Please go to %s and authorize access.', url)\n      rl.question('Enter the authorization code returned in the callback URL.', (answer) => {\n          let code = answer;\n          let headers = {\n              \"Accept\": \"application/json\",\n              \"X-Requested-With\": \"XMLHttpRequest\",\n              \"Content-Type\": \"application/json\",\n          }\n          let body = {\n              'grant_type': \"authorization_code\",\n              'client_id': client_id,\n              'client_secret': client_secret,\n              'redirect_uri': redirect_uri,\n              'code': code,\n          };\n          axios.request('https://api.canoesoftware.com/oauth/token', {\n              method: \"POST\",\n              headers: headers,\n              data: body\n          })\n              .then(response => {\n                  console.log(response.data)\n              })\n              .catch(error => {\n                  console.log(error);\n              })\n          rl.close();\n      });"
      - lang: php
        label: PHP
        source: "Route::get('/redirect', function () {\n          $query = http_build_query([\n          'client_id' => 'client-id',\n          'redirect_uri' => 'https://your-application.com/callback',\n          'response_type' => 'code',\n          'scope' => '',\n          ]);\n          return redirect('https://api.canoesoftware.com/oauth/authorize?'.$query);\n      });\n\n\n      Route::get('/callback', function (Request $request) {\n          $http = new GuzzleHttp\\Client;\n          $response = $http->post('https://api.canoesoftware.com/oauth/token', [\n              'form_params' => [\n                  'grant_type' => 'authorization_code',\n                  'client_id' => 'client-id',\n                  'client_secret' => 'client-secret',\n                  'redirect_uri' => 'https://your-application.com/callback',\n                  'code' => $request->code,\n              ],\n          ]);\n          return json_decode((string) $response->getBody(), true);\n      });"
      - lang: python
        label: Python
        source: "#This sample requires python OAuth library requests_oauthlib\n\n      from requests_oauthlib import OAuth2Session\n      import json\n      client_id = \"client_id\"\n      client_secret = \"client_secret\"\n      redirect_uri = \"https://your-application.com/callback\"\n      oauth = OAuth2Session(client_id, redirect_uri=redirect_uri)\n      authorization_url, state = oauth.authorization_url('https://api.canoesoftware.com/oauth/authorize')\n      print('Please go to {} and authorize access.'.format(authorization_url))\n      authorization_response = input('Enter the full callback URL')\n      token = oauth.fetch_token(\n      'https://api.canoesoftware.com/oauth/token',\n      authorization_response=authorization_response,\n      client_id=client_id,\n      client_secret=client_secret)\n      print(token)"
      - lang: csharp
        label: CSharp
        source: "using System;\n      using System.Threading;\n      using RestSharp;\n\n      var client_id = \"your_client_id\";\n      var client_secret = \"your_client_secret\";\n      var redirect_uri = \"your_redirect_url\";\n      var baseUrl = \"https://api.canoesoftware.com\";\n      var client = new RestClient(baseUrl);\n      var request = new RestRequest(string.Format(\"/oauth/authorize?response_type=code&client_id={0}&client_secret={1}&redirect_uri={2}\",client_id, client_secret, System.Web.HttpUtility.UrlEncode(redirect_uri)), Method.Get);\n      var url = client.BuildUri(request).ToString();\n      //The below workflow assumes the user does not have control over the redirect_uri\n      //If the redirect_uri goes to your application, you can request a token by exchanging the authorization code directly\n      string auth_code = null;\n      var ps = new System.Diagnostics.ProcessStartInfo(url)\n      {\n          UseShellExecute = true,\n          Verb = \"open\"\n      };\n      //This will open your default browser\n      System.Diagnostics.Process.Start(ps);\n      //Please copy the 'THE_AUTHORIZATION_CODE' in the redirect url(YOUR_REDIRECT_URI?code=THE_AUTHORIZATION_CODE) after approving access \n      Console.WriteLine(\"Enter the authorization code returned in the callback URL:\");\n      string code = Console.ReadLine();\n      request = new RestRequest(\"/oauth/token\", Method.Post);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddParameter(\"grant_type\", \"authorization_code\");\n      request.AddParameter(\"code\", code);\n      request.AddParameter(\"client_id\", client_id);\n      request.AddParameter(\"client_secret\", client_secret);\n      request.AddParameter(\"redirect_uri\", redirect_uri);\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);"
      security: []
    servers:
    - url: https://api.canoesoftware.com
      description: Production API
  /oauth/token/refresh:
    post:
      tags:
      - Authentication
      summary: Requesting Tokens - Refresh Token
      description: '/oauth/token


        Users can refresh their access tokens via the refresh token that was provided to them when the access token was issued.


        Users should issue a POST request to Canoe to request an access token. See examples on the right panel and the parameters for the POST request below.'
      operationId: RequestingTokensRefreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  description: refresh_token.
                  example: refresh_token
                client_id:
                  type: string
                  description: Your Application's Client ID.
                  example: your_client_id
                client_secret:
                  type: string
                  description: Your Application's Client Secret.
                  example: your_client_secret
                refresh_token:
                  type: string
                  description: The refresh_token issued by Canoe when the access token was issued.
                  example: def50200a24fe7672ce8653724d90090ca68fc4729a04b1051b2c8
              required:
              - grant_type
              - client_id
              - client_secret
              - refresh_token
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthorizationCode'
      x-codeSamples:
      - lang: bash
        label: Bash
        source: "curl -X POST \"https://api.canoesoftware.com/oauth/token\" \\\n      -H \"Accept: application/json\" \\\n      -H \"X-Requested-With: XMLHttpRequest\" \\\n      -H \"Content-Type: application/x-www-form-urlencoded\" \\\n      -d \"grant_type=refresh_token&client_id=your_client_id&client_secret=your_client_secret&refresh_token=your_refresh_token\""
      - lang: javascript
        label: JavaScript
        source: "const url = new URL(\"https://api.canoesoftware.com/oauth/token\");\n      let headers = {\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      }\n      let body = {\n        'grant_type': \"refresh_token\",\n        'client_id': client_id,\n        'client_secret': client_secret,\n        'refresh_token': refresh_token,\n      }\n      fetch(url, {\n          method: \"POST\",\n          headers: headers,\n          body: body\n      }).then(response => response.json()) .then(json => console.log(json));"
      - lang: php
        label: PHP
        source: "$client = new \\GuzzleHttp\\Client();\n      $response = $client->post(\"https://api.canoesoftware.com/oauth/token\", [\n          'headers' => [\n              \"Accept\" => \"application/json\",\n              \"X-Requested-With\" => \"XMLHttpRequest\",\n              \"Content-Type\" => \"application/json\",\n          ],\n          'json' => [\n              'grant_type'=> \"refresh_token\",\n              'client_id'=> \"your_client_id\",\n              'client_secret'=> \"your_client_secret\",\n              'refresh_token'=> \"your_refresh_token\",\n          ],\n      ]);\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));"
      - lang: python
        label: Python
        source: "import requests\n      import json\n\n      url = \"https://api.canoesoftware.com/oauth/token\"\n      headers = {\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      }\n      body = {\n          \"grant_type\": \"refresh_token\",\n          \"client_id\": \"your_client_id\",\n          \"client_secret\": \"your_client_secret\",\n          \"refresh_token\": \"def50200a24fe7672ce8653724d90090ca68fc4729a04b1051b2c8\"\n      }\n\n      response = requests.post(url, json.dumps(body), headers=headers, )\n      parsed = json.loads(response.text)\n      print(json.dumps(parsed, indent=4))"
      - lang: csharp
        label: CSharp
        source: "using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"oauth/token\", Method.Post);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddHeader(\"Content-Type\", \"application/json\");\n      request.AddParameter(\"grant_type\",\"refresh_token\");\n      request.AddParameter(\"client_id\",\"your_client_id\");\n      request.AddParameter(\"client_secret\",\"your_client_secret\");\n      request.AddParameter(\"refresh_token\",\"your_refresh_token\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);"
      security: []
    servers:
    - url: https://api.canoesoftware.com
      description: Production API
  /oauth/token/client-credentials:
    post:
      tags:
      - Authentication
      summary: Requesting Tokens - Client Credentials
      description: '/oauth/token


        Once a client has been created, you may use the Client ID and Client Secret to request an

        to request an access token. Access tokens provide access to all other endpoints within the API.'
      operationId: RequestingTokensClientCredentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  description: The grant_type parameter must be set to "client_credentials".
                  example: client_credentials
                client_id:
                  type: string
                  description: Your Application's Client ID.
                  example: client_credentials
                client_secret:
                  type: string
                  description: Your Application's Client Secret.
                  example: your_client_secret
              required:
              - grant_type
              - client_id
              - client_secret
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientCredentials'
      x-codeSamples:
      - lang: bash
        label: Bash
        source: "curl -X POST \"https://api.canoesoftware.com/oauth/token\" \\\n      -H \"Accept: application/json\" \\\n      -H \"X-Requested-With: XMLHttpRequest\" \\\n      -H \"Content-Type: application/x-www-form-urlencoded\" \\\n      -d \"grant_type=client_credentials&client_id=your_client_id&client_secret=your_client_secret\""
      - lang: javascript
        label: JavaScript
        source: "const url = new URL(\"https://api.canoesoftware.com/oauth/token\");\n      let headers = {\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      }\n      let body = {\n        'grant_type': \"client_credentials\",\n        'client_id': client_id,\n        'client_secret': client_secret,\n      }\n      fetch(url, {\n          method: \"POST\",\n          headers: headers,\n          body: body\n      }).then(response => response.json()) .then(json => console.log(json));"
      - lang: php
        label: PHP
        source: "$client = new \\GuzzleHttp\\Client();\n      $response = $client->post(\"https://api.canoesoftware.com/oauth/token\", [\n          'headers' => [\n              \"Accept\" => \"application/json\",\n              \"X-Requested-With\" => \"XMLHttpRequest\",\n              \"Content-Type\" => \"application/json\",\n          ],\n          'json' => [\n              'grant_type'=> \"client_credentials\",\n              'client_id'=> \"your_client_id\",\n              'client_secret'=> \"your_client_secret\",\n          ],\n      ]);\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));"
      - lang: python
        label: Python
        source: "import requests\n      import json\n\n      url = \"https://api.canoesoftware.com/oauth/token\"\n      headers = {\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      }\n      body = {\n          \"grant_type\": \"client_credentials\",\n          \"client_id\": \"client_credentials\",\n          \"client_secret\": \"your_client_secret\",\n      }\n\n      response = requests.post(url, json.dumps(body), headers=headers, )\n      parsed = json.loads(response.text)\n      print(json.dumps(parsed, indent=4))"
      - lang: csharp
        label: CSharp
        source: "using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"oauth/token\", Method.Post);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddHeader(\"Content-Type\", \"application/json\");\n      request.AddParameter(\"grant_type\",\"client_credentials\");\n      request.AddParameter(\"client_id\",\"your_client_id\");\n      request.AddParameter(\"client_secret\",\"your_client_secret\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);"
      security: []
    servers:
    - url: https://api.canoesoftware.com
      description: Production API
components:
  schemas:
    AuthorizationCode:
      type: object
      properties:
        token_type:
          type: string
          description: A parameter in the Access Token generation call within the Authorization server. This represents how an access_token will be generated and presented for resource access calls.
          example: Bearer
        expires_in:
          type: integer
          description: The lifetime in seconds of the access token. For example, the value 3600 denotes that the access token will expire in one hour from the time the response was generated.
          example: 86400
        access_token:
          type: string
          description: An access_token is a unique string of letters and numbers that you pass with an API call. The access token represents the authorization of a specific application to access specific parts of a user's data. Access tokens must be kept confidential both in transit and in storage.
          example: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjM5YjA4ZmZkZjQ5ZmRiNDYxMzk4MTY0ODNkMGVlNmNjMjA2ZmYxMDU1ODVhMDUwM2ViZmY3Mzg4OTMzN2I4NTI5Mzg1MWY5ZTBjN2YzYzNmIn0.eyJhdWQiOiJhZjFhMjVjNC1hNDE3LTEx

            ZTktOTZmYy0wNmY3NWI2ZjJiNGEiLCJqdGkiOiIz

            OWIwOGZmZGY0OWZkYjQ2MTM5ODE2NDgzZDBlZTZjYzIwNmZmMTA1NTg1YTA1MDNlYmZmNzM4ODkzMzdiODUyOTM4NTFmOWUwYzdmM2MzZiIsImlhdCI6MTU2Mjg3NjI1MiwibmJmIjoxNTYyODc2MjUyLCJleHAiOjE1NjQx

            NzIyNTEsInN1YiI6IjE2MzhlZDRhLTY4MTItYTNh

            Yy0wMDA1LTUzYmI5MjJjNGFiYiIsInNjb3BlcyI6W

            119.t7wflHG7Og9Vf1rqPWo2QzCyyAo3AUc9duZyoM

            EQ8dix5Omt5OWqHX6TWYddxbC34fvRi1Gby4CqK9Kz-s-0GMr2YnWxBPCzAIGlKMRVKbs615bQTpChG0a5BWzcUMOww1zhL9Gz8aSg2yI47kAHFnVPZFGH4zA2yqcRvmg7QvoYzQcm4hJR6NatMJgKOChagUDthdj-ezWwWq_pyCXZFU2XwLm1vBZTIkgG40uCbqgsEUffDXFibQypBG9BrUkw03o9wh72UoL-QeMHn5K5Q7zJx08pzOUXWm_W4pfO7FIwzaHoOEtFmorSihnw7gzDddwASwMzhYgqF839J7CLa_mq6YV53oMP2eCOKX0jN-dd

            Eg4Gt6yYkVbh54yOsbztc4P1waUJ4JnJsBV2GdWd

            xnB0bhx6QFhj4HrnkQzx1GScFjRzKPHJGGmN9e-6wCEb7TXncbtnuu-8YxCbG5IUfc25BlBtMeqURE1A6Pa7YciBJoPLlEDUAJ8HwfSHspxDkuPhz1ospacDJgl

            xHn18Mrkt8lukwIL7dfhM9Wm2b6ZBJrKngFdkFV9ALFImjBwqk2SZVfhLMYvhTG36qGqI7e7uw_SyU2lPiN2MQcVpdaSd0NkCLqGAkRRwuDCaHBfZ35TJguJXHdJuRMDoghUAhYgAwqp7OU1FtgX1gmt5tok'
        refresh_token:
          type: string
          description: A refresh_token is a unique string of letters and numbers. Clients use refresh tokens to exchange a refresh token for an access token when the access token has expired. Refresh tokens will expire in 30 days.
          example: 'def50200a24fe7672ce8653724d90090ca68fc4729a04b1051b2c885f15e3ce77175eea08a4c94f6e8fc1cd82a50a1b5be47ccfab40f944308a9c694963c3a38bbdf32a825d1d085596d9afceffa2f2dfabe94394b0269926e82bf2b8f2c19d80d51d166425db9b187dce918a2db625353a86e57021689d508c5aad9950a48079f2ce194c34981906282c75ac5718c570f8bcae67d8725d95bc46159dd80c378a7d72a8eda0820c839aa268776bd67a1bbbae102155b3b6c188df55fec6d9abb043ca0ef7463e1416b8373379f93ceab463465844a16ee541da906abf87b0c41b6c1da469733a7

            9bf1ca175d6d0e7235ec0ff388ed247680047beef09f8bd645c4d34d4fe574d72980f65f8848cbe3e035232367b916d54ded682eca7194225f4c4804fc5c'
    ClientCredentials:
      type: object
      properties:
        token_type:
          type: string
          description: A parameter in the Access Token generation call within the Authorization server. This represents how an access_token will be generated and presented for resource access calls.
          example: Bearer
        expires_in:
          type: integer
          description: The lifetime in seconds of the access token. For example, the value 3600 denotes that the access token will expire in one hour from the time the response was generated.
          example: 86400
        access_token:
          type: string
          description: An access_token is a unique string of letters and numbers that you pass with an API call. The access token represents the authorization of a specific application to access specific parts of a user's data. Access tokens must be kept confidential both in transit and in storage.
          example: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjM5YjA4ZmZkZjQ5ZmRiNDYxMzk4MTY0ODNkMGVlNmNjMjA2ZmYxMDU1ODVhMDUwM2ViZmY3Mzg4OTMzN2I4NTI5Mzg1MWY5ZTBjN2YzYzNmIn0.eyJhdWQiOiJhZjFhMjVjNC1hNDE3LTExZTktOTZmYy0wNmY3NWI2ZjJiNGEiLCJqdGkiOiIzOWIwOGZmZGY0OWZkYjQ2MTM5ODE2NDgzZDBlZTZjYzIwNmZmMTA1NTg1YTA1MDNlYmZmNzM4ODkzMzdiODUyOTM4NTFmOWUwYzdmM2MzZiIsImlhdCI6MTU2Mjg3NjI1MiwibmJmIjoxNTYyODc2MjUyLCJleHAiOjE1NjQxNzIyNTEsInN1YiI6IjE2MzhlZDRhLTY4MTItYTNhYy0wMDA1LTUzYmI5MjJjNGFiYiIsInNjb3BlcyI6W119.t7wflHG7Og9Vf1rqPWo2QzCyyAo3AUc9duZyoMEQ8dix5Omt5OWqHX6TWYddxbC34fvRi1Gby4CqK9Kz-s-0GMr2YnWxBPCzAIGlKMRVKbs615bQTpChG0a5BWzcUMOww1zhL9Gz8aSg2yI47kAHFnVPZFGH4zA2yqcRvmg7QvoYzQcm4hJR6NatMJgKOChagUDthdj-ezWwWq_pyCXZFU2XwLm1vBZTIkgG40uCbqgsEUffDXFibQypBG9BrUkw03o9wh72UoL-QeMHn5K5Q7zJx08pzOUXWm_W4pfO7FIwzaHoOEtFmorSihnw7gzDddwASwMzhYgqF839J7CLa_mq6YV53oMP2eCOKX0jN-ddEg4Gt6yYkVbh54yOsbztc4P1waUJ4JnJsBV2GdWdxnB0bhx6QFhj4HrnkQzx1GScFjRzKPHJGGmN9e-6wCEb7TXncbtnuu-8YxCbG5IUfc25BlBtMeqURE1A6Pa7YciBJoPLlEDUAJ8HwfSHspxDkuPhz1ospacDJglxHn18Mrkt8lukwIL7dfhM9Wm2b6ZBJrKngFdkFV9ALFImjBwqk2SZVfhLMYvhTG36qGqI7e7uw_SyU2lPiN2MQcVpdaSd0NkCLqGAkRRwuDCaHBfZ35TJguJXHdJuRMDoghUAhYgAwqp7OU1FtgX1gmt5tok
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Enter your Bearer token in the format: Bearer {token}'
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication
      flows:
        authorizationCode:
          authorizationUrl: https://api.canoesoftware.com/oauth/authorize
          tokenUrl: https://api.canoesoftware.com/oauth/token
          scopes: {}
        clientCredentials:
          tokenUrl: https://api.canoesoftware.com/v1/tokens
          scopes: {}
externalDocs:
  description: Click to download docs in JSON format
  url: /api/docs.json
x-refined-from:
- canoe-intelligence-api-docs-v1-original.yaml
- canoe-intelligence-api-openapi-original.json
x-tagGroups:
- name: Getting Started
  tags:
  - Introduction
  - Authentication
  - Password Grant Tokens
- name: Core Resources
  tags:
  - Documents
  - Funds
  - Terms
  - Organizations
  - Allocations
  - Custom Fields
- name: User Management
  tags:
  - User
