openapi: 3.2.0
info:
  title: Canoe Intelligence Custom Fields API
  version: '1.0'
  description: 'Operations tagged Custom Fields across 3 of this provider''s published API definitions: canoe-intelligence-api-docs-v1-original.yaml, canoe-intelligence-api-openapi-original.json, canoe-intelligence-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.canoesoftware.com
  description: Production API
tags:
- name: Custom Fields
paths:
  Get Custom Fields:
    get:
      tags:
      - Custom Fields
      summary: null
      description: '/v1/custom_fields


        Returns a list of custom fields available for the authenticated tenant.

        Optionally filter by ownership_level.

        '
      operationId: GetCustomFields
      parameters:
      - name: ownership_level
        in: query
        description: 'Filters the list of custom fields to a specific level. Valid values: Account, Entity, Fund, Allocation. If omitted, returns custom fields for all levels.'
        required: false
        schema:
          type: string
        examples:
          Account:
            value: Account
          Entity:
            value: Entity
          Fund:
            value: Fund
          Allocation:
            value: Allocation
      - name: limit
        in: query
        description: Maximum number of records to return per page. Defaults to 100.
        required: false
        schema:
          type: integer
          default: 100
      - name: page
        in: query
        description: Page number for pagination.
        required: false
        schema:
          type: integer
          default: 1
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              bash:
                description: "-\n      curl -X GET \\\n          -G \"https://api.canoesoftware.com/v1/custom_fields?ownership_level=Account\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\"\n"
                summary: Bash
              Javascript:
                description: "-\n      const url = new URL(\n          \"https://api.canoesoftware.com/v1/custom_fields\"\n      );\n\n      url.searchParams.set(\"ownership_level\", \"Account\");\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n      };\n\n      fetch(url, {\n          method: \"GET\",\n          headers: headers,\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));\n"
                summary: JavaScript
              PHP:
                description: "-\n      $client = new \\GuzzleHttp\\Client();\n      $response = $client->get(\n          'https://api.canoesoftware.com/v1/custom_fields',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n              ],\n              'query' => [\n                  'ownership_level' => 'Account',\n              ],\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));\n"
                summary: PHP
              Python:
                description: "-\n      import requests\n\n      url = 'https://api.canoesoftware.com/v1/custom_fields'\n      params = {\n          'ownership_level': 'Account'\n      }\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest'\n      }\n      response = requests.request('GET', url, headers=headers, params=params)\n      response.json()\n"
                summary: Python
              CSharp:
                description: "-\n      using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/custom_fields\", Method.Get);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddQueryParameter(\"ownership_level\", \"Account\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);\n"
                summary: CSharp
      responses:
        '200':
          description: Successful response with list of custom fields.
        '400':
          description: Invalid ownership_level provided.
  /v1/custom_fields:
    get:
      tags:
      - Custom Fields
      summary: Get Custom Fields
      description: Returns a list of custom fields available for the authenticated tenant. Optionally filter by ownership_level.
      operationId: GetCustomFields
      parameters:
      - name: ownership_level
        in: query
        description: 'Filters the list of custom fields to a specific level. Valid values: Account, Entity, Fund, Allocation, Term. If omitted, returns custom fields for all levels.'
        required: false
        schema:
          type: string
        examples:
          Account:
            value: Account
          Entity:
            value: Entity
          Fund:
            value: Fund
          Allocation:
            value: Allocation
      - name: limit
        in: query
        description: Maximum number of records to return per page. Defaults to 100.
        required: false
        schema:
          type: integer
          default: 100
      - name: page
        in: query
        description: Page number for pagination.
        required: false
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Successful response with list of custom fields.
        '400':
          description: Invalid ownership_level provided.
      security:
      - bearerAuth: []
    servers:
    - url: https://api.canoesoftware.com
      description: Production API
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Enter your Bearer token in the format: Bearer {token}'
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication
      flows:
        authorizationCode:
          authorizationUrl: https://api.canoesoftware.com/oauth/authorize
          tokenUrl: https://api.canoesoftware.com/oauth/token
          scopes: {}
        clientCredentials:
          tokenUrl: https://api.canoesoftware.com/v1/tokens
          scopes: {}
externalDocs:
  description: Click to download docs in JSON format
  url: /api/docs.json
x-refined-from:
- canoe-intelligence-api-docs-v1-original.yaml
- canoe-intelligence-api-openapi-original.json
- canoe-intelligence-api-openapi.yml
x-tagGroups:
- name: Getting Started
  tags:
  - Introduction
  - Authentication
  - Password Grant Tokens
- name: Core Resources
  tags:
  - Documents
  - Funds
  - Terms
  - Organizations
  - Allocations
  - Custom Fields
- name: User Management
  tags:
  - User
