openapi: 3.2.0
info:
  title: Canoe Intelligence Funds API
  version: '1.0'
  description: 'Operations tagged Funds across 3 of this provider''s published API definitions: canoe-intelligence-api-docs-v1-original.yaml, canoe-intelligence-api-openapi-original.json, canoe-intelligence-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.canoesoftware.com
  description: Production API
tags:
- name: Funds
  description: ''
paths:
  Get Funds:
    get:
      tags:
      - Funds
      summary: null
      description: "/v1/funds\n\nFetch all funds accessible by the current API user.\n\n<span name=\"doc-alert-info\">\nThis endpoint offers optional pagination. \nPagination supports the return of large results and is highly recommended for all use cases. \nUnpaginated calls will be depreciated in future versions of the Canoe API.\n<br><br>\nWhen using pagination, the response will contain headers defining the <code>total</code> number of results, \nas well as the <code>first</code>, <code>next</code>, <code>prev</code>, and <code>last</code> page responses for your result set. \nTo enable pagination pass a header parameter of X-API-VERSION with a value of 2022-02-24.\n</span>\n"
      operationId: GetFunds
      parameters:
      - name: page
        in: query
        description: This is the page number. For example, if you specify "2" you will see all funds on page 2. By default, this is set to 1. <u>This parameter is only valid if the X-API-VERSION header is set to 2022-02-24.</u>
        required: false
        schema:
          type: string
        examples:
          page 1:
            value: 1
          page 5 multiple:
            value: 5
      - name: perPage
        in: query
        description: The number of funds for each page. The maximum number of funds as well as the default is 100. <u>This parameter is only valid if the X-API-VERSION header is set to 2022-02-24.</u>
        required: false
        schema:
          type: string
        examples:
          3 per page:
            value: 3
          50 per page:
            value: 50
      - name: name
        in: query
        description: The name of the fund you wish to retrieve records for. This can either be the formal fund name or any of its associated aliases. To search based on a part of the fund name or alias, just append an "*" character anywhere within the name parameter.
        required: false
        schema:
          type: string
        examples:
          name:
            value: Sample Hedge Fund Detail 1
      - name: custom_field
        in: query
        description: An indexed string of one or more custom field IDs, which relate to fund specific custom fields, and one or more custom field values for each. Specify the custom field ID and then the custom field value(s). When filtering on multiple values, separate them by commas.  Filter on additional custom fields by separating with an ampersand. Example:- /v1/funds?custom_field[bfa7ec21-9a73-4640-03b2-0e32aa1ae8a6]=value1,value2&custom_field[867e4563-c2b5-e788-d050-4ce151dec635]=value1
        required: false
        schema:
          type: string
        examples:
          custom_field:
            value: custom_field[bfa7ec21-9a73-4640-03b2-0e32aa1ae8a6]=value1,value2
      - name: fund_id
        in: query
        description: Returns exact fund for a specific id. Multiple IDs are separated by a comma.
        required: false
        schema:
          type: string
        examples:
          fund_id single:
            value: fund_id_1
          fund_id multiple:
            value: fund_id_1,fund_id_2,fund_id_3
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              bash:
                description: "-\n      curl -X GET \\\n          -G \"https://api.canoesoftware.com/v1/funds?name=Sample Hedge Fund Detail 1\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\"\n"
                summary: Bash
              Javascript:
                description: "-\n      const url = new URL(\n          \"https://api.canoesoftware.com/v1/funds\"\n      );\n\n      let params = {\n          \"name\": \"Sample Hedge Fund Detail 1\"\n      }\n\n      Object.keys(params)\n          .forEach(key => url.searchParams.append(key, params[key]))\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      fetch(url, {\n          method: \"GET\",\n          headers: headers,\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));\n"
                summary: JavaScript
              PHP:
                description: "-\n      $client = new \\GuzzleHttp\\Client();\n      $response = $client->get(\n          'https://api.canoesoftware.com/v1/funds',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n              ],\n              'query' => [\n                  'name' => 'Sample Hedge Fund Detail 1'\n              ] \n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));\n"
                summary: PHP
              Python:
                description: "-\n      import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds'\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest'\n      }\n      params = {\n        'name': 'Sample Hedge Fund Detail 1'\n      }\n      response = requests.request('GET', url, headers=headers, params=params)\n      response.json()\n"
                summary: Python
              CSharp:
                description: "-\n      using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds\", Method.Get);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddQueryParameter(\"name\", \"Sample Hedge Fund Detail 1\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);\n"
                summary: CSharp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetFunds'
        '400':
          description: Bad request
        '404':
          description: Resource Not Found
        '422':
          description: Unprocessable Entity
  Get A Single Fund:
    get:
      tags:
      - Funds
      summary: null
      description: '/v1/funds/{id}


        Fetch a specific fund by the fund''s ID.

        '
      operationId: GetSingleFunds
      parameters:
      - name: id
        in: path
        description: The id of the fund.
        required: true
        schema:
          type: string
          example: 1
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              bash:
                description: "-\n      curl -X GET \\\n          -G \"https://api.canoesoftware.com/v1/funds/1\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\"\n"
                summary: Bash
              Javascript:
                description: "-\n      const url = new URL(\n          \"https://api.canoesoftware.com/v1/funds/1\"\n      );\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      fetch(url, {\n          method: \"GET\",\n          headers: headers,\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));\n"
                summary: JavaScript
              PHP:
                description: "-\n      $client = new \\GuzzleHttp\\Client();\n      $response = $client->get(\n          'https://api.canoesoftware.com/v1/funds/1',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n              ],\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));\n"
                summary: PHP
              Python:
                description: "-\n      import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds/1'\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest'\n      }\n      response = requests.request('GET', url, headers=headers)\n      response.json()\n"
                summary: Python
              CSharp:
                description: "-\n      using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds/1\", Method.Get);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);\n"
                summary: CSharp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SingleFund'
        '400':
          description: Bad request
        '404':
          description: Resource Not Found
        '422':
          description: Unprocessable Entity
  Create A Single Fund:
    post:
      tags:
      - Funds
      summary: null
      description: '/v1/funds


        Create a new fund based on the input parameters.

        '
      operationId: CreateSingleFund
      parameters:
      - name: type
        in: body
        description: The fund's investment type. It can be drawdown_fund, hedge_fund, direct_investment, real_estate, or special_situation.
        required: false
        schema:
          type: string
          example:
            type: hedge_fund
      - name: status
        in: body
        description: Indicates whether or not a fund is active. The status can be active, retired, or transitional.
        required: false
        schema:
          type: string
          example:
            status: retired
      - name: name
        in: body
        description: The name of the fund.
        required: false
        schema:
          type: string
          example:
            name: Sample fund 1
      - name: sponsor
        in: body
        description: The sponsor of the fund.
        required: false
        schema:
          type: string
          example:
            sponsor: Sample sponsor 1
      - name: start_date
        in: body
        description: Fund Inception Date. The date on which the fund began its operations. Its format is yyyy-mm-dd.
        required: false
        schema:
          type: string
          example:
            start_date: 2021-01-01
      - name: aliases
        in: body
        description: Aliases of the investment name. These are user-created. If there are multiple aliases, they should be separated by commas.
        required: false
        schema:
          type: string
          example:
            aliases: Sample alias 1, Sample alias 2
      - name: legal_name
        in: body
        description: The legal name of the fund.
        required: false
        schema:
          type: string
          example:
            legal_name: Sample Fund V
      - name: custom_fields
        in: body
        description: The array of objects that contain the id of an existing custom field and a new value
        required: false
        schema:
          type: array
          example:
            custom_fields:
            - id: 1
              value: 1000
      - name: custom_fields.*.id
        in: body
        description: ID of the fund custom field.
        required: true
        schema:
          type: string
          example:
            downstream_ids:
            - id: 1
      - name: custom_fields.*.value
        in: body
        description: The value of the custom Field.
        required: true
        schema:
          type: string
          example:
            downstream_ids:
            - value: 1000
      - name: currency
        in: body
        description: The ISO 4217 currency code representing the base currency of the fund. Provide a valid 3-letter ISO code (e.g. USD, EUR, GBP). Lowercase values are accepted and normalized to uppercase. Pass null to clear an existing value.
        required: false
        schema:
          type: string
          example:
            currency: USD
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              bash:
                description: "-\n      curl -X POST \\\n      \"https://api.canoesoftware.com/v1/funds\" \\\n      -H \"Authorization: Bearer {token}\" \\\n      -H \"Accept: application/json\" \\\n      -H \"X-Requested-With: XMLHttpRequest\" \\\n      -H \"Content-Type: application/json\" \\\n      -d '{\"type\":\"drawdown_fund.\",\"status\":\"active\",\"name\":\"Sample fund 1\",\"sponsor\":\"Sample sponsor 1\",\"start_date\":\"2021-01-01\",\"aliases\":\"Sample alias 1, Sample alias 2\",\"legal_name\":\"Sample Fund V\",\"custom_fields\":[{\"id\":\"1\",\"value\":\"1000\"}],\"currency\":\"USD\"}'\n"
                summary: Bash
              Javascript:
                description: "-\n      const url = new URL(\"\n          https://api.canoesoftware.com/v1/funds\"\n      );\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      let body = {\n          \"type\": \"drawdown_fund\",\n          \"status\": \"active\",\n          \"name\": \"Sample fund 1\",\n          \"sponsor\": \"Sample sponsor 1\",\n          \"start_date\": \"2021-01-01\",\n          \"aliases\": \"Sample alias 1, Sample alias 2\",\n          \"legal_name\": \"Sample Fund V\",\n          \"custom_fields\": [\n              {\n                  \"id\": \"1\",\n                  \"value\": \"1000\"\n              }\n          ],\n          \"currency\": \"USD\"\n      }\n\n      fetch(url, {\n          method: \"POST\",\n          headers: headers,\n          body: body\n      })\n      .then(response => response.json())\n      .then(json => console.log(json));\n"
                summary: JavaScript
              PHP:
                description: "-\n      $client = new \\GuzzleHttp\\Client();\n      $response = $client->get(\n          'https://api.canoesoftware.com/v1/funds',\n        [\n            'headers' => [\n                'Authorization' => 'Bearer {token}',\n                'Accept' => 'application/json',\n                'X-Requested-With' => 'XMLHttpRequest',\n                'Content-Type' => 'application/json',\n            ],\n            'json' => [\n                'type' => 'drawdown_fund',\n                'status' => 'active',\n                'name' => 'Sample fund 1',\n                'sponsor' => 'Sample sponsor 1',\n                'start_date' => '2021-01-01',\n                'aliases' => 'Sample alias 1, Sample alias 2',\n                'legal_name' => 'Sample Fund V',\n                'custom_fields' => [\n                    [\n                        'id' => '1',\n                        'value' => '1000',\n                    ],\n                ],\n                'currency' => 'USD',\n            ],\n        ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));\n"
                summary: PHP
              Python:
                description: "-\n      import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds'\n      payload = {\n          \"type\": \"drawdown_fund\",\n          \"status\": \"active\",\n          \"name\": \"Sample fund 1\",\n          \"sponsor\": \"Sample sponsor 1\",\n          \"start_date\": \"2021-01-01\",\n          \"aliases\": \"Sample alias 1, Sample alias 2\",\n          \"legal_name\": \"Sample Fund V\",\n          \"custom_fields\": [\n              {\n                  \"id\": \"1\",\n                  \"value\": \"1000\"\n              }\n          ],\n          \"currency\": \"USD\"\n      }\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest',\n        'Content-Type': 'application/json'\n      }\n      response = requests.request('POST', url, headers=headers, json=payload)\n      response.json()\n"
                summary: Python
              CSharp:
                description: "-\n      using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds\", Method.Post);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddHeader(\"Content-Type\", \"application/json\");\n      var body = new\n      {\n          type = \"drawdown_fund\",\n          status = \"active\",\n          name = \"Sample fund 1\",\n          sponsor = \"Sample sponsor 1\",\n          start_date = \"2021-01-01\",\n          aliases = \"Sample Alias 1, Sample Alias 2\",\n          legal_name = \"Sample Fund V,Sample Capital LP\",\n          currency = \"USD\"\n      };\n      request.AddJsonBody(body);\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);\n"
                summary: CSharp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SingleFund'
        '403':
          description: Failed to create the fund with a corresponding term.
        '422':
          description: Failed to create the fund with a corresponding term.
  Update A Single Fund:
    put:
      tags:
      - Funds
      summary: null
      description: '/v1/funds/{id}


        Update an existing fund based on the input parameters.

        '
      operationId: UpdateSingleFund
      parameters:
      - name: id
        in: path
        description: The id of the fund
        required: true
        schema:
          type: string
          example: 1
      - name: type
        in: body
        description: The fund's investment type. It can be drawdown_fund, hedge_fund, direct_investment, real_estate, or special_situation.
        required: false
        schema:
          type: string
          example:
            type: drawdown_fund, hedge_fund
      - name: status
        in: body
        description: Indicates whether or not a fund is active. The status can be active, retired, or transitional.
        required: false
        schema:
          type: string
          example:
            status: active, retired
      - name: name
        in: body
        description: The name of the fund.
        required: false
        schema:
          type: string
          example:
            name: Sample fund 1, Sample fund 2
      - name: sponsor
        in: body
        description: The sponsor of the fund.
        required: false
        schema:
          type: string
          example:
            sponsor: Sample sponsor 1, Sample sponsor 2
      - name: start_date
        in: body
        description: Fund Inception Date. The date on which the fund began its operations. Its format is yyyy-mm-dd.
        required: false
        schema:
          type: string
          example:
            start_date: 2021-01-01, 2010-12-30
      - name: aliases
        in: body
        description: Aliases of the investment name. These are user-created. If there are multiple aliases, they should be separated by commas.
        required: false
        schema:
          type: string
          example:
            aliases: Sample alias 1, Sample alias 2
      - name: legal_name
        in: body
        description: The legal name of the fund.
        required: false
        schema:
          type: string
          example:
            legal_name: Sample Fund V, Sample Capital LP
      - name: custom_fields
        in: body
        description: The array of objects that contain the id of an existing custom field and a new value
        required: false
        schema:
          type: array
          example:
            custom_fields:
            - id: 1
              value: 1000
      - name: custom_fields.*.id
        in: body
        description: ID of the fund custom field.
        required: true
        schema:
          type: string
          example:
            downstream_ids:
            - id: 1
      - name: custom_fields.*.value
        in: body
        description: The value of the custom Field.
        required: true
        schema:
          type: string
          example:
            downstream_ids:
            - value: 1000
      - name: currency
        in: body
        description: The ISO 4217 currency code representing the base currency of the fund. Provide a valid 3-letter ISO code (e.g. USD, EUR, GBP). Lowercase values are accepted and normalized to uppercase. Pass null to clear an existing value.
        required: false
        schema:
          type: string
          example:
            currency: USD
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              bash:
                description: "-\n      curl -X PUT \\\n          \"https://api.canoesoftware.com/v1/funds/1\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\" \\\n          -H \"Content-Type: application/json\" \\\n          -d '{\"type\":\"drawdown_fund.\",\"status\":\"active\",\"name\":\"Sample fund 1\",\"sponsor\":\"Sample sponsor 1\",\"start_date\":\"2021-01-01\",\"aliases\":\"Sample alias 1,Sample alias 2\",\"legal_name\":\"Sample Fund V,Sample Capital LP\",\"custom_fields\":[{\"id\":\"1\",\"value\":\"1000\"}],\"currency\":\"USD\"}'\n"
                summary: Bash
              Javascript:
                description: "-\n      const url = new URL(\n          \"https://api.canoesoftware.com/v1/funds/1\"\n      );\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      let body = {\n          \"type\": \"drawdown_fund.\",\n          \"status\": \"active\",\n          \"name\": \"Sample fund 1\",\n          \"sponsor\": \"Sample sponsor 1\",\n          \"start_date\": \"2021-01-01\",\n          \"aliases\": \"Sample alias 1,Sample alias 2\",\n          \"legal_name\": \"Sample Fund V,Sample Capital LP\",\n          \"custom_fields\": [\n              {\n                  \"id\": \"1\",\n                  \"value\": \"1000\"\n              }\n          ],\n          \"currency\": \"USD\"\n      }\n\n      fetch(url, {\n          method: \"PUT\",\n          headers: headers,\n          body: body\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));\n"
                summary: JavaScript
              PHP:
                description: "-\n      $client = new \\GuzzleHttp\\Client();\n      $response = $client->put(\n          'https://api.canoesoftware.com/v1/funds/1',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n                  'Content-Type' => 'application/json',\n              ],\n              'json' => [\n                  'type' => 'drawdown_fund.',\n                  'status' => 'active',\n                  'name' => 'Sample fund 1',\n                  'sponsor' => 'Sample sponsor 1',\n                  'start_date' => '2021-01-01',\n                  'aliases' => 'Sample alias 1,Sample alias 2',\n                  'legal_name' => 'Sample Fund V,Sample Capital LP',\n                  'custom_fields' => [\n                      [\n                          'id' => '1',\n                          'value' => '1000',\n                      ],\n                  ],\n                  'currency' => 'USD',\n              ],\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));\n"
                summary: PHP
              Python:
                description: "-\n      import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds/1'\n      payload = {\n          \"type\": \"drawdown_fund\",\n          \"status\": \"active\",\n          \"name\": \"Sample fund 1\",\n          \"sponsor\": \"Sample sponsor 1\",\n          \"start_date\": \"2021-01-01\",\n          \"aliases\": \"Sample alias 1,Sample alias 2\",\n          \"legal_name\": \"Sample Fund V,Sample Capital LP\",\n          \"custom_fields\": [\n              {\n                  \"id\": \"1\",\n                  \"value\": \"1000\"\n              }\n          ],\n          \"currency\": \"USD\"\n      }\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest',\n        'Content-Type': 'application/json'\n      }\n      response = requests.request('PUT', url, headers=headers, json=payload)\n      response.json()\n"
                summary: Python
              CSharp:
                description: "-\n      using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds/1\", Method.Put);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddHeader(\"Content-Type\", \"application/json\");\n      var body = new\n      {\n          type = \"drawdown_fund\",\n          status = \"active\",\n          name = \"Sample fund 1\",\n          sponsor = \"Sample sponsor 1\",\n          start_date = \"2021-01-01\",\n          aliases = \"Sample Alias 1, Sample Alias 2\",\n          legal_name = \"Sample Fund V,Sample Capital LP\",\n          currency = \"USD\"\n      };\n      request.AddJsonBody(body);\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);\n"
                summary: CSharp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SingleFund'
        '403':
          description: Failed to create the fund with a corresponding term.
        '422':
          description: Failed to create the fund with a corresponding term.
  Get A Single Fund's Document Data:
    get:
      tags:
      - Funds
      summary: null
      description: '/v1/funds/{id}/document-data


        Fetch the extracted data and metadata of a single fund''s documents.


        By default, Canoe''s server sends back the full representation of each document object after processing requests. For better performance, you can have the server send only the fields you specify.


        <span name="doc-alert-info">

        This endpoint offers optional pagination.

        Pagination supports the return of large results and is highly recommended for all use cases.

        Unpaginated calls will be depreciated in future versions of the Canoe API.

        <br><br>

        When using pagination, the response will contain headers defining the <code>total</code> number of results,

        as well as the <code>first</code>, <code>next</code>, <code>prev</code>, and <code>last</code> page responses for your result set.

        To enable pagination pass a header parameter of X-API-VERSION with a value of 2024-10-07.

        </span>

        '
      operationId: GetSingleFundsDocumentdata
      parameters:
      - name: id
        in: path
        description: The id of the fund.
        required: true
        schema:
          type: string
          example: 1
      - name: page
        in: query
        description: This page number. For example, if you specify "2" you will see all documents on page 2. By default, this is set to 1. <u>This parameter is only valid if the X-API-VERSION header is set to 2024-10-07.</u> Example:- 1
        required: false
        schema:
          type: integer
        examples:
          page 1:
            value: 1
          page 5:
            value: 5
      - name: limit
        in: query
        description: The number of documents for each page. The maximum number of documents limit is 100. <u>This parameter is only valid if the X-API-VERSION header is set to 2024-10-07.</u> Example:- 50
        required: false
        schema:
          type: integer
        examples:
          limit:
            value: 50
      - name: fields
        in: query
        description: The fields you need in the partial response. The value of the fields parameter MUST be a comma-separated (U+002C COMMA, ",") list that refers to the name(s) of the fields to be returned.
        required: true
        schema:
          type: string
        examples:
          fields:
            value: 1
      - name: category
        in: query
        description: The category of the document. Our current categories are:<br><br><li>Capital Activity</li><br><li>Email & System Messages</li><br><li>Financial Statements & Performance</li><br><li>Investment & Transactional</li><br><li>Investor Administration & Communication</li><br><li>Legal, Compliance & Regulatory</li><br><li>Other</li><br><li>Tax</li><br><br>Multiple categories can be passed as a comma-delimited list (e.g. <code>Capital Activity,Tax</code>).
        required: false
        schema:
          type: string
        examples:
          category:
            value: Capital Activity, Email
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              bash:
                description: "-\n      curl -X GET \\\n          -G \"https://api.canoesoftware.com/v1/funds/1/document-data?fields=name%2Cvalidated_data&category=Capital%20Activity\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\"\n"
                summary: Bash
              Javascript:
                description: "-\n      const url = new URL(\n          \"https://api.canoesoftware.com/v1/funds/1/document-data\"\n      );\n\n      let params = {\n          \"fields\": \"name,validated_data\",\n          \"category\": \"Capital Activity\"\n      };\n      Object.keys(params)\n          .forEach(key => url.searchParams.append(key, params[key]));\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      fetch(url, {\n          method: \"GET\",\n          headers: headers,\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));\n"
                summary: JavaScript
              PHP:
                description: "-\n      $client = new \\GuzzleHttp\\Client();\n      $response = $client->get(\n          'https://api.canoesoftware.com/v1/funds/1/document-data',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n              ],\n              'query' => [\n                  'fields' => 'name,validated_data',\n                  'category'=> 'Capital Activity'\n              ],\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));\n"
                summary: PHP
              Python:
                description: "-\n      import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds/1/document-data'\n      params = {\n        'fields': 'name,validated_data',\n        'category': 'Capital Activity'\n\n      }\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest'\n      }\n      response = requests.request('GET', url, headers=headers, params=params)\n      response.json()\n"
                summary: Python
              CSharp:
                description: "-\n      using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds/1/document-data\", Method.Get);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddQueryParameter(\"fields\", \"name,validated_data\");\n      request.AddQueryParameter(\"category\", \"Capital Activity\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);\n"
                summary: CSharp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundDocumentData'
        '400':
          description: Bad request
        '404':
          description: Resource Not Found
        '422':
          description: Unprocessable Entity
  Download A Single Fund's Documents:
    get:
      tags:
      - Funds
      summary: null
      description: '/v1/funds/{id}/documents


        Download a specific Fund''s documents in a ZIP file. Each fetch will download up to 100 documents. By default, this will fetch the first 100 documents in the Intelligent Document Center. A successful call to this endpoint will only contain the binary file and not the JSON data.

        '
      operationId: DownloadSingleFundsDocumentdata
      parameters:
      - name: id
        in: path
        description: The id of the fund.
        required: true
        schema:
          type: string
          example: 1
      - name: start_time
        in: query
        description: All documents downloaded will have an uploaded timestamp <strong>greater than or equal to</strong> the given start_time. Unless otherwise specified, the timestamp will be in EST (Eastern Standard Time). We suggest using the <a target="_blank" href="https://www.iso.org/iso-8601-date-and-time-format.html"><u>ISO 8601 format</u></a> for the parameter. For example, '2019-09-18T00:00:00-07:00' represents the time in Pacific Daylight Time; this will be automatically converted to EST. In this case, the user will receive the documents uploaded on or after 2019-09-19 at 03:00:00.
        required: true
        schema:
          type: string
        examples:
          start_time:
            value: '2019-03-30T04:00:00Z'
      - name: page
        in: query
        description: This page number corresponds with the pagination in Canoe's Intelligent Document Center. There are up to 100 documents on each page. For example, if you specify "2" you will see all of a Fund's documents on page 2. By default, this is set to 1.
        required: false
        schema:
          type: string
        examples:
          page:
            value: 1
      - name: limit
        in: query
        description: The number of documents for each download. The maximum number of documents as well as the default is 100.
        required: false
        schema:
          type: string
        examples:
          limit:
            value: 50
      - name: file_name_type
        in: query
        description: The document attribute to use for the file name. Available options are name, original_file_name and id. The default value for this is name.
        required: false
        schema:
          type: string
        examples:
          file_name_type:
            value: original_file_name
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              bash:
                description: "-\n      curl -X GET \\\n          -G \"https://api.canoesoftware.com/v1/funds/1/documents?start_time=2019-03-30T04%3A00%3A00Z&page=1&limit=50&file_name_type=original_file_name\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\"\n"
                summary: Bash
              Javascript:
                description: "-\n      const url = new URL(\n          \"https://api.canoesoftware.com/v1/funds/1/documents\"\n      );\n\n      let params = {\n          \"start_time\": \"2019-03-30T04:00:00Z\",\n          \"page\": \"1\",\n          \"limit\": \"50\",\n          \"file_name_type\": \"original_file_name\",\n      };\n      Object.keys(params)\n          .forEach(key => url.searchParams.append(key, params[key]));\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      fetch(url, {\n          method: \"GET\",\n          headers: headers,\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));\n"
                summary: JavaScript
              PHP:
                description: "-\n      $client = new \\GuzzleHttp\\Client();\n      $response = $client->get(\n          'https://api.canoesoftware.com/v1/funds/1/documents',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n              ],\n              'query' => [\n                  'start_time' => '2019-03-30T04:00:00Z',\n                  'page' => '1',\n                  'limit' => '50',\n                  'file_name_type' => 'original_file_name',\n              ],\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));\n"
                summary: PHP
              Python:
                description: "-\n      import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds/1/documents'\n      params = {\n        'start_time': '2019-03-30T04:00:00Z',\n        'page': '1',\n        'limit': '50',\n        'file_name_type': 'original_file_name'\n      }\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest'\n      }\n      response = requests.request('GET', url, headers=headers, params=params)\n      response.json()\n"
                summary: Python
              CSharp:
                description: "-\n      using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds/1/documents\", Method.Get);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader)\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddQueryParameter(\"start_time\", \"2019-03-30T04:00:00Z\");\n      request.AddQueryParameter(\"page\", \"1\");\n      request.AddQueryParameter(\"limit\", \"50\");\n      request.AddQueryParameter(\"file_name_type\", \"original_file_name\");\n      var response = client.Execute(request);\n      foreach (var h in response.ContentHeaders) {\n          if (h.Name==\"Content-Disposition\") {\n              var disposition = h.Value.ToString();\n              var filename = disposition.Substring(disposition.IndexOf(\"filename=\") + \"filename=\".Length);\n              File.WriteAllBytes(filename, response.RawBytes);\n          }\n      }\n"
                summary: CSharp
      responses:
        '200':
          description: Success
        '403':
          description: No access to the fund documents.
  Get A Single Fund's Document IDs:
    get:
      tags:
      - Funds
      summary: null
      description: '/v1/funds/{id}/document-ids


        Get a specific fund''s documents IDs for downloading the documents one by one.

        '
      operationId: GetSingleFundsDocumentId
      parameters:
      - name: id
        in: path
        description: The id of the fund.
        required: true
        schema:
          type: string
          example: 1
      - name: start_time
        in: query
        description: All document IDs returned will have an uploaded timestamp greater than or equal to the given start_time. Unless otherwise specified, the timestamp will be in EST (Eastern Standard Time). We suggest using the ISO 8601 format for the parameter. For example, '2019-09-18T00:00:00-07:00' represents the time in Pacific Daylight Time; this will be automatically converted to EST. In this case, the user will receive the documents uploaded on or after 2019-09-19 at 03:00:00.
        required: false
        schema:
          type: string
        examples:
          start_time:
            value: '2019-03-30T04:00:00Z'
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              bash:
                description: "-\n      curl -X GET \\\n          -G \"https://api.canoesoftware.com/v1/funds/1/document-ids?start_time=2019-03-30T04%3A00%3A00Z\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\"\n"
                summary: Bash
              Javascript:
                description: "-\n      const url = new URL(\n          \"https://api.canoesoftware.com/v1/funds/1/document-ids\"\n      );\n\n      let params = {\n          \"start_time\": \"2019-03-30T04:00:00Z\",\n      };\n      Object.keys(params)\n          .forEach(key => url.searchParams.append(key, params[key]));\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      fetch(url, {\n          method: \"GET\",\n          headers: headers,\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));\n"
                summary: JavaScript
              PHP:
                description: "-\n      $client = new \\GuzzleHttp\\Client();\n      $response = $client->get(\n          'https://api.canoesoftware.com/v1/funds/1/document-ids',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n              ],\n              'query' => [\n                  'start_time' => '2019-03-30T04:00:00Z',\n              ],\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));\n"
                summary: PHP
              Python:
                description: "-\n      import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds/1/document-ids'\n      params = {\n        'start_time': '2019-03-30T04:00:00Z'\n      }\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest'\n      }\n      response = requests.request('GET', url, headers=headers, params=params)\n      response.json()\n"
                summary: Python
              CSharp:
                description: "-\n      using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds/1/document-ids\", Method.Get);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddQueryParameter(\"start_time\", \"2019-03-30T04:00:00Z\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);\n"
                summary: CSharp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundDocumentId'
        '403':
          description: No access to the fund documents.
  Delete Multiple Funds:
    delete:
      tags:
      - Funds
      summary: null
      description: '/v1/funds


        Bulk delete up to 100 funds at once based on fund ids. WARNING: This will delete all funds associated with the ids passed in, as well as their related documents, allocations, and terms.

        '
      operationId: DeleteMultipleFunds
      parameters:
      - name: fund_id
        in: body
        description: fund_id
        required: true
        schema:
          type: string
          example:
            fund_id: id_1,id_2,id_3
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              bash:
                description: "-\n      curl -X DELETE \\\n          \"https://api.canoesoftware.com/v1/funds\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\" \\\n          -H \"Content-Type: application/json\" \\\n          -d '{\"fund_id\":\"id_1,id_2,id_3\",\"status\":\"active,pending\",\"type\":\"drawdown_fund,hedge_fund\"}'\n"
                summary: Bash
              Javascript:
                description: "-\n      const url = new URL(\n          \"https://api.canoesoftware.com/v1/funds\"\n      );\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      let body = {\n          \"fund_id\": \"id_1,id_2,id_3\"\n      }\n\n      fetch(url, {\n          method: \"DELETE\",\n          headers: headers,\n          body: body\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));\n"
                summary: JavaScript
              PHP:
                description: "-\n      $client = new \\GuzzleHttp\\Client();\n      $response = $client->delete(\n          'https://api.canoesoftware.com/v1/funds',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n                  'Content-Type' => 'application/json',\n              ],\n              'json' => [\n                  'fund_id' => 'id_1,id_2,id_3'\n              ],\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));\n"
                summary: PHP
              Python:
                description: "-\n      import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds'\n      payload = {\n          \"fund_id\": \"id_1,id_2,id_3\"\n      }\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest',\n        'Content-Type': 'application/json'\n      }\n      response = requests.request('DELETE', url, headers=headers, json=payload)\n      response.json()\n"
                summary: Python
              CSharp:
                description: "-\n      using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds\", Method.Delete);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddHeader(\"Content-Type\", \"application/json\");\n      request.AddParameter(\"fund_id\",\"id_1,id_2,id_3\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);\n"
                summary: CSharp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeleteFunds'
        '400':
          description: Cannot delete more than 100 records at one time. Request includes 305 items.
  Delete A Single Fund:
    delete:
      tags:
      - Funds
      summary: null
      description: '/v1/funds/{id}


        Delete a single fund based on the fund''s id. WARNING: This will delete the fund, as well as it''s associated documents, allocations, and terms.

        '
      operationId: DeleteSingleFund
      parameters:
      - name: id
        in: path
        description: The id of the fund to be deleted.
        required: true
        schema:
          type: string
          example: 1
      requestBody:
        content:
          application/json:
            schema:
              type: string
            examples:
              bash:
                description: "-\n      curl -X DELETE \\\n      \"https://api.canoesoftware.com/v1/funds/1\" \\\n      -H \"Authorization: Bearer {token}\" \\\n      -H \"Accept: application/json\" \\\n      -H \"X-Requested-With: XMLHttpRequest\"\n"
                summary: Bash
              Javascript:
                description: "-\n      const url = new URL(\"\n          https://api.canoesoftware.com/v1/funds/1\"\n      );\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      fetch(url, {\n          method: \"DELETE\",\n          headers: headers,\n      })\n      .then(response => response.json())\n      .then(json => console.log(json));\n"
                summary: JavaScript
              PHP:
                description: "-\n      $client = new \\GuzzleHttp\\Client();\n      $response = $client->delete(\n          'https://api.canoesoftware.com/v1/funds/1',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n              ],\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));\n"
                summary: PHP
              Python:
                description: "-\n      import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds/1'\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest'\n      }\n      response = requests.request('DELETE', url, headers=headers)\n      response.json()\n"
                summary: Python
              CSharp:
                description: "-\n      using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds/1\", Method.Delete);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);\n"
                summary: CSharp
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeleteFund'
        '400':
          description: Cannot delete more than 100 records at one time. Request includes 305 items.
  /v1/funds:
    get:
      tags:
      - Funds
      summary: Get Funds
      description: "Fetch all funds accessible by the current API user.\n\n<span name=\"doc-alert-info\">\nThis endpoint offers optional pagination. \nPagination supports the return of large results and is highly recommended for all use cases. \nUnpaginated calls will be depreciated in future versions of the Canoe API.\n<br><br>\nWhen using pagination, the response will contain headers defining the <code>total</code> number of results, \nas well as the <code>first</code>, <code>next</code>, <code>prev</code>, and <code>last</code> page responses for your result set. \nTo enable pagination pass a header parameter of X-API-VERSION with a value of 2022-02-24.\n</span>"
      operationId: GetFunds
      parameters:
      - name: page
        in: query
        description: This is the page number. For example, if you specify "2" you will see all funds on page 2. By default, this is set to 1. <u>This parameter is only valid if the X-API-VERSION header is set to 2022-02-24.</u>
        required: false
        schema:
          type: string
        examples:
          page 1:
            value: '1'
          page 5 multiple:
            value: '5'
      - name: perPage
        in: query
        description: The number of funds for each page. The maximum number of funds as well as the default is 100. <u>This parameter is only valid if the X-API-VERSION header is set to 2022-02-24.</u>
        required: false
        schema:
          type: string
        examples:
          3 per page:
            value: '3'
          50 per page:
            value: '50'
      - name: name
        in: query
        description: The name of the fund you wish to retrieve records for. This can either be the formal fund name or any of its associated aliases. To search based on a part of the fund name or alias, just append an "*" character anywhere within the name parameter.
        required: false
        schema:
          type: string
        examples:
          name:
            value: Sample Hedge Fund Detail 1
      - name: custom_field
        in: query
        description: An indexed string of one or more custom field IDs, which relate to fund specific custom fields, and one or more custom field values for each. Specify the custom field ID and then the custom field value(s). When filtering on multiple values, separate them by commas.  Filter on additional custom fields by separating with an ampersand. Example:- /v1/funds?custom_field[bfa7ec21-9a73-4640-03b2-0e32aa1ae8a6]=value1,value2&custom_field[867e4563-c2b5-e788-d050-4ce151dec635]=value1
        required: false
        schema:
          type: string
        examples:
          custom_field:
            value: custom_field[bfa7ec21-9a73-4640-03b2-0e32aa1ae8a6]=value1,value2
      - name: fund_id
        in: query
        description: Returns exact fund for a specific id. Multiple IDs are separated by a comma.
        required: false
        schema:
          type: string
        examples:
          fund_id single:
            value: fund_id_1
          fund_id multiple:
            value: fund_id_1,fund_id_2,fund_id_3
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetFunds_2'
        '400':
          description: Bad request
        '404':
          description: Resource Not Found
        '422':
          description: Unprocessable Entity
      x-codeSamples:
      - lang: bash
        label: Bash
        source: "curl -X GET \\\n          -G \"https://api.canoesoftware.com/v1/funds?name=Sample Hedge Fund Detail 1\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\""
      - lang: javascript
        label: JavaScript
        source: "const url = new URL(\n          \"https://api.canoesoftware.com/v1/funds\"\n      );\n\n      let params = {\n          \"name\": \"Sample Hedge Fund Detail 1\"\n      }\n\n      Object.keys(params)\n          .forEach(key => url.searchParams.append(key, params[key]))\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      fetch(url, {\n          method: \"GET\",\n          headers: headers,\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));"
      - lang: php
        label: PHP
        source: "$client = new \\GuzzleHttp\\Client();\n      $response = $client->get(\n          'https://api.canoesoftware.com/v1/funds',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n              ],\n              'query' => [\n                  'name' => 'Sample Hedge Fund Detail 1'\n              ] \n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));"
      - lang: python
        label: Python
        source: "import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds'\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest'\n      }\n      params = {\n        'name': 'Sample Hedge Fund Detail 1'\n      }\n      response = requests.request('GET', url, headers=headers, params=params)\n      response.json()"
      - lang: csharp
        label: CSharp
        source: "using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds\", Method.Get);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddQueryParameter(\"name\", \"Sample Hedge Fund Detail 1\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);"
      security:
      - bearerAuth: []
    post:
      tags:
      - Funds
      summary: Create A Single Fund
      description: Create a new fund based on the input parameters.
      operationId: CreateSingleFund
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: The fund's investment type. It can be drawdown_fund, hedge_fund, direct_investment, real_estate, or special_situation.
                  example: hedge_fund
                status:
                  type: string
                  description: Indicates whether or not a fund is active. The status can be active, pending, retired, or transitional.
                  example: retired
                name:
                  type: string
                  description: The name of the fund.
                  example: Sample fund 1
                sponsor:
                  type: string
                  description: The sponsor of the fund.
                  example: Sample sponsor 1
                start_date:
                  type: string
                  description: Fund Inception Date. The date on which the fund began its operations. Its format is yyyy-mm-dd.
                  example: '2021-01-01T00:00:00.000Z'
                aliases:
                  type: string
                  description: Aliases of the investment name. These are user-created. If there are multiple aliases, they should be separated by commas.
                  example: Sample alias 1, Sample alias 2
                legal_name:
                  type: string
                  description: The legal name of the fund.
                  example: Sample Fund V
                custom_fields:
                  type: array
                  description: The array of objects that contain the id of an existing custom field and a new value
                  example:
                  - id: 1
                    value: 1000
                currency:
                  type: string
                  description: The ISO 4217 currency code representing the base currency of the fund (e.g. USD, EUR, GBP). Lowercase values are accepted and normalized to uppercase. Pass null to clear an existing value.
                  example: USD
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SingleFund_2'
        '403':
          description: Failed to create the fund with a corresponding term.
        '422':
          description: Failed to create the fund with a corresponding term.
      x-codeSamples:
      - lang: bash
        label: Bash
        source: "curl -X POST \\\n      \"https://api.canoesoftware.com/v1/funds\" \\\n      -H \"Authorization: Bearer {token}\" \\\n      -H \"Accept: application/json\" \\\n      -H \"X-Requested-With: XMLHttpRequest\" \\\n      -H \"Content-Type: application/json\" \\\n      -d '{\"type\":\"drawdown_fund.\",\"status\":\"active\",\"name\":\"Sample fund 1\",\"sponsor\":\"Sample sponsor 1\",\"start_date\":\"2021-01-01\",\"aliases\":\"Sample alias 1, Sample alias 2\",\"legal_name\":\"Sample Fund V\",\"custom_fields\":[{\"id\":\"1\",\"value\":\"1000\"}]}'"
      - lang: javascript
        label: JavaScript
        source: "const url = new URL(\"\n          https://api.canoesoftware.com/v1/funds\"\n      );\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      let body = {\n          \"type\": \"drawdown_fund\",\n          \"status\": \"active\",\n          \"name\": \"Sample fund 1\",\n          \"sponsor\": \"Sample sponsor 1\",\n          \"start_date\": \"2021-01-01\",\n          \"aliases\": \"Sample alias 1, Sample alias 2\",\n          \"legal_name\": \"Sample Fund V\",\n          \"custom_fields\": [\n              {\n                  \"id\": \"1\",\n                  \"value\": \"1000\"\n              }\n          ]\n      }\n\n      fetch(url, {\n          method: \"POST\",\n          headers: headers,\n          body: body\n      })\n      .then(response => response.json())\n      .then(json => console.log(json));"
      - lang: php
        label: PHP
        source: "$client = new \\GuzzleHttp\\Client();\n      $response = $client->get(\n          'https://api.canoesoftware.com/v1/funds',\n        [\n            'headers' => [\n                'Authorization' => 'Bearer {token}',\n                'Accept' => 'application/json',\n                'X-Requested-With' => 'XMLHttpRequest',\n                'Content-Type' => 'application/json',\n            ],\n            'json' => [\n                'type' => 'drawdown_fund',\n                'status' => 'active',\n                'name' => 'Sample fund 1',\n                'sponsor' => 'Sample sponsor 1',\n                'start_date' => '2021-01-01',\n                'aliases' => 'Sample alias 1, Sample alias 2',\n                'legal_name' => 'Sample Fund V',\n                'custom_fields' => [\n                    [\n                        'id' => '1',\n                        'value' => '1000',\n                    ],\n                ],\n            ],\n        ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));"
      - lang: python
        label: Python
        source: "import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds'\n      payload = {\n          \"type\": \"drawdown_fund\",\n          \"status\": \"active\",\n          \"name\": \"Sample fund 1\",\n          \"sponsor\": \"Sample sponsor 1\",\n          \"start_date\": \"2021-01-01\",\n          \"aliases\": \"Sample alias 1, Sample alias 2\",\n          \"legal_name\": \"Sample Fund V\",\n          \"custom_fields\": [\n              {\n                  \"id\": \"1\",\n                  \"value\": \"1000\"\n              }\n          ]\n      }\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest',\n        'Content-Type': 'application/json'\n      }\n      response = requests.request('POST', url, headers=headers, json=payload)\n      response.json()"
      - lang: csharp
        label: CSharp
        source: "using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds\", Method.Post);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader)\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddHeader(\"Content-Type\", \"application/json\");\n      var body = new\n      {   \n          type = \"drawdown_fund\",\n          status = \"active\",\n          name = \"Sample fund 1\",\n          sponsor = \"Sample sponsor 1\"\n          start_date = \"2021-01-01\",\n          aliases = \"Sample Alias 1, Sample Alias 2\",\n          legal_name = \"Sample Fund V,Sample Capital LP\"\n      };\n      request.AddJsonBody(body);\n      request.AddParameter(\"custom_fields\", custom_fields);\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);"
      security:
      - bearerAuth: []
    delete:
      tags:
      - Funds
      summary: Delete Multiple Funds
      description: 'Bulk delete up to 100 funds at once based on fund ids. WARNING: This will delete all funds associated with the ids passed in, as well as their related documents, allocations, and terms.'
      operationId: DeleteMultipleFunds
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeleteFunds'
        '400':
          description: Cannot delete more than 100 records at one time. Request includes 305 items.
      x-codeSamples:
      - lang: bash
        label: Bash
        source: "curl -X DELETE \\\n          \"https://api.canoesoftware.com/v1/funds\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\" \\\n          -H \"Content-Type: application/json\" \\\n          -d '{\"fund_id\":\"id_1,id_2,id_3\",\"status\":\"active,pending\",\"type\":\"drawdown_fund,hedge_fund\"}'"
      - lang: javascript
        label: JavaScript
        source: "const url = new URL(\n          \"https://api.canoesoftware.com/v1/funds\"\n      );\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      let body = {\n          \"fund_id\": \"id_1,id_2,id_3\"\n      }\n\n      fetch(url, {\n          method: \"DELETE\",\n          headers: headers,\n          body: body\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));"
      - lang: php
        label: PHP
        source: "$client = new \\GuzzleHttp\\Client();\n      $response = $client->delete(\n          'https://api.canoesoftware.com/v1/funds',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n                  'Content-Type' => 'application/json',\n              ],\n              'json' => [\n                  'fund_id' => 'id_1,id_2,id_3'\n              ],\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));"
      - lang: python
        label: Python
        source: "import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds'\n      payload = {\n          \"fund_id\": \"id_1,id_2,id_3\"\n      }\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest',\n        'Content-Type': 'application/json'\n      }\n      response = requests.request('DELETE', url, headers=headers, json=payload)\n      response.json()"
      - lang: csharp
        label: CSharp
        source: "using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds\", Method.Delete);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddHeader(\"Content-Type\", \"application/json\");\n      request.AddParameter(\"fund_id\",\"id_1,id_2,id_3\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);"
      security:
      - bearerAuth: []
    servers:
    - url: https://api.canoesoftware.com
      description: Production API
  /v1/funds/details:
    get:
      tags:
      - Funds
      summary: Get Detailed Fund Data
      description: "Fetch detailed fund information including terms, allocations, and related entities. This endpoint provides more comprehensive fund data than the standard /v1/funds endpoint, including allocation data with entity relationships.\n\n<span name=\"doc-alert-info\">\nThis endpoint supports pagination. \nWhen using pagination, the response will contain headers defining the <code>total</code> number of results, \nas well as the <code>first</code>, <code>next</code>, <code>prev</code>, and <code>last</code> page responses for your result set.\n</span>"
      operationId: GetFundsDetailedData
      parameters:
      - name: page
        in: query
        description: The page number for pagination. By default, this is set to 1.
        required: false
        schema:
          type: integer
        examples:
          page 1:
            value: 1
          page 5:
            value: 5
      - name: perPage
        in: query
        description: The number of results per page. The maximum number of results as well as the default is 100.
        required: false
        schema:
          type: integer
        examples:
          25 per page:
            value: 25
          50 per page:
            value: 50
      - name: name
        in: query
        description: Filter by fund name. Supports partial matching with wildcard character (*).
        required: false
        schema:
          type: string
        examples:
          fund name:
            value: Sample Fund
      - name: fund_id
        in: query
        description: Filter by specific fund ID(s). Multiple IDs can be separated by commas.
        required: false
        schema:
          type: string
        examples:
          single fund:
            value: fund_id_1
          multiple funds:
            value: fund_id_1,fund_id_2
      - name: account_id
        in: query
        description: Filter allocations by account ID(s). Multiple IDs can be separated by commas.
        required: false
        schema:
          type: string
        examples:
          single account:
            value: account_id_1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundDetailedData'
        '400':
          description: Bad request - Invalid parameters
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource Not Found
      x-codeSamples:
      - lang: bash
        label: Bash
        source: "curl -X GET \\\n          -G \"https://api.canoesoftware.com/v1/funds/details?page=1&perPage=25\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\""
      - lang: javascript
        label: JavaScript
        source: "const url = new URL(\n          \"https://api.canoesoftware.com/v1/funds/details\"\n      );\n\n      let params = {\n          \"page\": \"1\",\n          \"perPage\": \"25\"\n      }\n\n      Object.keys(params)\n          .forEach(key => url.searchParams.append(key, params[key]))\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      fetch(url, {\n          method: \"GET\",\n          headers: headers,\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));"
      - lang: php
        label: PHP
        source: "$client = new \\GuzzleHttp\\Client();\n      $response = $client->get(\n          'https://api.canoesoftware.com/v1/funds/details',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n              ],\n              'query' => [\n                  'page' => '1',\n                  'perPage' => '25'\n              ]\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));"
      - lang: python
        label: Python
        source: "import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds/details'\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest'\n      }\n      params = {\n        'page': '1',\n        'perPage': '25'\n      }\n      response = requests.request('GET', url, headers=headers, params=params)\n      response.json()"
      - lang: csharp
        label: CSharp
        source: "using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds/details\", Method.Get);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddQueryParameter(\"page\", \"1\");\n      request.AddQueryParameter(\"perPage\", \"25\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);"
      security:
      - bearerAuth: []
    servers:
    - url: https://api.canoesoftware.com
      description: Production API
  /v1/funds/{id}:
    get:
      tags:
      - Funds
      summary: Get A Single Fund
      description: Fetch a specific fund by the fund's ID.
      operationId: GetSingleFunds
      parameters:
      - name: id
        in: path
        description: The id of the fund.
        required: true
        schema:
          type: string
          example: '1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SingleFund_2'
        '400':
          description: Bad request
        '404':
          description: Resource Not Found
        '422':
          description: Unprocessable Entity
      x-codeSamples:
      - lang: bash
        label: Bash
        source: "curl -X GET \\\n          -G \"https://api.canoesoftware.com/v1/funds/1\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\""
      - lang: javascript
        label: JavaScript
        source: "const url = new URL(\n          \"https://api.canoesoftware.com/v1/funds/1\"\n      );\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      fetch(url, {\n          method: \"GET\",\n          headers: headers,\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));"
      - lang: php
        label: PHP
        source: "$client = new \\GuzzleHttp\\Client();\n      $response = $client->get(\n          'https://api.canoesoftware.com/v1/funds/1',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n              ],\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));"
      - lang: python
        label: Python
        source: "import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds/1'\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest'\n      }\n      response = requests.request('GET', url, headers=headers)\n      response.json()"
      - lang: csharp
        label: CSharp
        source: "using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds/1\", Method.Get);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);"
      security:
      - bearerAuth: []
    put:
      tags:
      - Funds
      summary: Update A Single Fund
      description: Update an existing fund based on the input parameters.
      operationId: UpdateSingleFund
      parameters:
      - name: id
        in: path
        description: The id of the fund
        required: true
        schema:
          type: string
          example: '1'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: The fund's investment type. It can be drawdown_fund, hedge_fund, direct_investment, real_estate, or special_situation.
                  example: drawdown_fund, hedge_fund
                status:
                  type: string
                  description: Indicates whether or not a fund is active. The status can be active, pending, retired, or transitional.
                  example: active, retired
                name:
                  type: string
                  description: The name of the fund.
                  example: Sample fund 1, Sample fund 2
                sponsor:
                  type: string
                  description: The sponsor of the fund.
                  example: Sample sponsor 1, Sample sponsor 2
                start_date:
                  type: string
                  description: Fund Inception Date. The date on which the fund began its operations. Its format is yyyy-mm-dd.
                  example: 2021-01-01, 2010-12-30
                aliases:
                  type: string
                  description: Aliases of the investment name. These are user-created. If there are multiple aliases, they should be separated by commas.
                  example: Sample alias 1, Sample alias 2
                legal_name:
                  type: string
                  description: The legal name of the fund.
                  example: Sample Fund V, Sample Capital LP
                custom_fields:
                  type: array
                  description: The array of objects that contain the id of an existing custom field and a new value
                  example:
                  - id: 1
                    value: 1000
                currency:
                  type: string
                  description: The ISO 4217 currency code representing the base currency of the fund (e.g. USD, EUR, GBP). Lowercase values are accepted and normalized to uppercase. Pass null to clear an existing value.
                  example: USD
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SingleFund_2'
        '403':
          description: Failed to create the fund with a corresponding term.
        '422':
          description: Failed to create the fund with a corresponding term.
      x-codeSamples:
      - lang: bash
        label: Bash
        source: "curl -X PUT \\\n          \"https://api.canoesoftware.com/v1/funds/1\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\" \\\n          -H \"Content-Type: application/json\" \\\n          -d '{\"type\":\"drawdown_fund.\",\"status\":\"active\",\"name\":\"Sample fund 1\",\"sponsor\":\"Sample sponsor 1\",\"start_date\":\"2021-01-01\",\"aliases\":\"Sample alias 1,Sample alias 2\",\"legal_name\":\"Sample Fund V,Sample Capital LP\",\"custom_fields\":[{\"id\":\"1\",\"value\":\"1000\"}]}'"
      - lang: javascript
        label: JavaScript
        source: "const url = new URL(\n          \"https://api.canoesoftware.com/v1/funds/1\"\n      );\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      let body = {\n          \"type\": \"drawdown_fund.\",\n          \"status\": \"active\",\n          \"name\": \"Sample fund 1\",\n          \"sponsor\": \"Sample sponsor 1\",\n          \"start_date\": \"2021-01-01\",\n          \"aliases\": \"Sample alias 1,Sample alias 2\",\n          \"legal_name\": \"Sample Fund V,Sample Capital LP\",\n          \"custom_fields\": [\n              {\n                  \"id\": \"1\",\n                  \"value\": \"1000\"\n              }\n          ]\n      }\n\n      fetch(url, {\n          method: \"PUT\",\n          headers: headers,\n          body: body\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));"
      - lang: php
        label: PHP
        source: "$client = new \\GuzzleHttp\\Client();\n      $response = $client->put(\n          'https://api.canoesoftware.com/v1/funds/1',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n                  'Content-Type' => 'application/json',\n              ],\n              'json' => [\n                  'type' => 'drawdown_fund.',\n                  'status' => 'active',\n                  'name' => 'Sample fund 1',\n                  'sponsor' => 'Sample sponsor 1',\n                  'start_date' => '2021-01-01',\n                  'aliases' => 'Sample alias 1,Sample alias 2',\n                  'legal_name' => 'Sample Fund V,Sample Capital LP',\n                  'custom_fields' => [\n                      [\n                          'id' => '1',\n                          'value' => '1000',\n                      ],\n                  ],\n              ],\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));"
      - lang: python
        label: Python
        source: "import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds'\n      payload = {\n          \"type\": \"drawdown_fund, hedge_fund.\",\n          \"status\": \"active, retired\",\n          \"name\": \"Sample fund 1, Sample fund 2\",\n          \"sponsor\": \"Sample sponsor 1, Sample sponsor 2\",\n          \"start_date\": \"2021-01-01, 2010-12-30\",\n          \"aliases\": \"Sample alias 1, Sample alias 2\",\n          \"legal_name\": \"Sample Fund V, Sample Capital LP\",\n          \"custom_fields\": [\n              {\n                  \"id\": \"1\",\n                  \"value\": \"1000\"\n              }\n          ]\n      }\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest',\n        'Content-Type': 'application/json'\n      }\n      response = requests.request('POST', url, headers=headers, json=payload)\n      response.json()"
      - lang: csharp
        label: CSharp
        source: "using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds/1\", Method.Put);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddHeader(\"Content-Type\", \"application/json\");\n      var body = new\n      {   \n          type = \"drawdown_fund\",\n          status = \"active\",\n          name = \"Sample fund 1\",\n          sponsor = \"Sample sponsor 1\"\n          start_date = \"2021-01-01\",\n          aliases = \"Sample Alias 1, Sample Alias 2\",\n          legal_name = \"Sample Fund V,Sample Capital LP\"\n      };\n      request.AddJsonBody(body);\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);"
      security:
      - bearerAuth: []
    delete:
      tags:
      - Funds
      summary: Delete A Single Fund
      description: 'Delete a single fund based on the fund''s id. WARNING: This will delete the fund, as well as it''s associated documents, allocations, and terms.'
      operationId: DeleteSingleFund
      parameters:
      - name: id
        in: path
        description: The id of the fund to be deleted.
        required: true
        schema:
          type: string
          example: '1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeleteFund'
        '400':
          description: Cannot delete more than 100 records at one time. Request includes 305 items.
      x-codeSamples:
      - lang: bash
        label: Bash
        source: "curl -X DELETE \\\n      \"https://api.canoesoftware.com/v1/funds/1\" \\\n      -H \"Authorization: Bearer {token}\" \\\n      -H \"Accept: application/json\" \\\n      -H \"X-Requested-With: XMLHttpRequest\""
      - lang: javascript
        label: JavaScript
        source: "const url = new URL(\"\n          https://api.canoesoftware.com/v1/funds/1\"\n      );\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      fetch(url, {\n          method: \"DELETE\",\n          headers: headers,\n      })\n      .then(response => response.json())\n      .then(json => console.log(json));"
      - lang: php
        label: PHP
        source: "$client = new \\GuzzleHttp\\Client();\n      $response = $client->delete(\n          'https://api.canoesoftware.com/v1/funds/1',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n              ],\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));"
      - lang: python
        label: Python
        source: "import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds/1'\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest'\n      }\n      response = requests.request('DELETE', url, headers=headers)\n      response.json()"
      - lang: csharp
        label: CSharp
        source: "using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds/1\", Method.Delete);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);"
      security:
      - bearerAuth: []
    servers:
    - url: https://api.canoesoftware.com
      description: Production API
  /v1/funds/{id}/document-data:
    get:
      tags:
      - Funds
      summary: Get A Single Fund's Document Data
      description: 'Fetch the extracted data and metadata of a single fund''s documents.


        By default, Canoe''s server sends back the full representation of each document object after processing requests. For better performance, you can have the server send only the fields you specify.


        <span name="doc-alert-info">

        This endpoint offers optional pagination.

        Pagination supports the return of large results and is highly recommended for all use cases.

        Unpaginated calls will be depreciated in future versions of the Canoe API.

        <br><br>

        When using pagination, the response will contain headers defining the <code>total</code> number of results,

        as well as the <code>first</code>, <code>next</code>, <code>prev</code>, and <code>last</code> page responses for your result set.

        To enable pagination pass a header parameter of X-API-VERSION with a value of 2024-10-07.

        </span>'
      operationId: GetSingleFundsDocumentdata
      parameters:
      - name: id
        in: path
        description: The id of the fund.
        required: true
        schema:
          type: string
          example: '1'
      - name: page
        in: query
        description: 'This page number. For example, if you specify "2" you will see all documents on page 2. By default, this is set to 1. <u>This parameter is only valid if the X-API-VERSION header is set to 2024-10-07.</u> Example: 1'
        required: false
        schema:
          type: integer
        examples:
          page 1:
            value: 1
          page 5:
            value: 5
      - name: limit
        in: query
        description: 'The number of documents for each page. The maximum number of documents limit is 100. <u>This parameter is only valid if the X-API-VERSION header is set to 2024-10-07.</u> Example: 50'
        required: false
        schema:
          type: integer
        examples:
          limit:
            value: 50
      - name: fields
        in: query
        description: The fields you need in the partial response. The value of the fields parameter MUST be a comma-separated (U+002C COMMA, ",") list that refers to the name(s) of the fields to be returned.
        required: true
        schema:
          type: string
        examples:
          fields:
            value: '1'
      - name: category
        in: query
        description: The category of the document. Our current categories are:<br><br><li>Capital Activity</li><br><li>Email & System Messages</li><br><li>Financial Statements & Performance</li><br><li>Investment & Transactional</li><br><li>Investor Administration & Communication</li><br><li>Legal, Compliance & Regulatory</li><br><li>Other</li><br><li>Tax</li><br><br>Multiple categories can be passed as a comma-delimited list (e.g. <code>Capital Activity,Tax</code>).
        required: false
        schema:
          type: string
        examples:
          category:
            value: Capital Activity, Email
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundDocumentData_2'
        '400':
          description: Bad request
        '404':
          description: Resource Not Found
        '422':
          description: Unprocessable Entity
      x-codeSamples:
      - lang: bash
        label: Bash
        source: "curl -X GET \\\n          -G \"https://api.canoesoftware.com/v1/funds/1/document-data?fields=name%2Cvalidated_data&category=Capital%20Activity\" \\\n          -H \"Authorization: Bearer {token}\" \\\n          -H \"Accept: application/json\" \\\n          -H \"X-Requested-With: XMLHttpRequest\""
      - lang: javascript
        label: JavaScript
        source: "const url = new URL(\n          \"https://api.canoesoftware.com/v1/funds/1/document-data\"\n      );\n\n      let params = {\n          \"fields\": \"name,validated_data\",\n          \"category\": \"Capital Activity\"\n      };\n      Object.keys(params)\n          .forEach(key => url.searchParams.append(key, params[key]));\n\n      let headers = {\n          \"Authorization\": \"Bearer {token}\",\n          \"Accept\": \"application/json\",\n          \"X-Requested-With\": \"XMLHttpRequest\",\n          \"Content-Type\": \"application/json\",\n      };\n\n      fetch(url, {\n          method: \"GET\",\n          headers: headers,\n      })\n          .then(response => response.json())\n          .then(json => console.log(json));"
      - lang: php
        label: PHP
        source: "$client = new \\GuzzleHttp\\Client();\n      $response = $client->get(\n          'https://api.canoesoftware.com/v1/funds/1/document-data',\n          [\n              'headers' => [\n                  'Authorization' => 'Bearer {token}',\n                  'Accept' => 'application/json',\n                  'X-Requested-With' => 'XMLHttpRequest',\n              ],\n              'query' => [\n                  'fields' => 'name,validated_data',\n                  'category'=> 'Capital Activity'\n              ],\n          ]\n      );\n      $body = $response->getBody();\n      print_r(json_decode((string) $body));"
      - lang: python
        label: Python
        source: "import requests\n      import json\n\n      url = 'https://api.canoesoftware.com/v1/funds/1/document-data'\n      params = {\n        'fields': 'name,validated_data',\n        'category': 'Capital Activity'\n\n      }\n      headers = {\n        'Authorization': 'Bearer {token}',\n        'Accept': 'application/json',\n        'X-Requested-With': 'XMLHttpRequest'\n      }\n      response = requests.request('GET', url, headers=headers, params=params)\n      response.json()"
      - lang: csharp
        label: CSharp
        source: "using RestSharp;\n\n      var client = new RestClient(\"https://api.canoesoftware.com/\");\n      var request = new RestRequest(\"v1/funds/1/document-data\", Method.Get);\n      request.AddParameter(\"Authorization\", string.Format(\"Bearer {token}\"), ParameterType.HttpHeader);\n      request.AddHeader(\"Accept\", \"application/json\");\n      request.AddHeader(\"X-Requested-With\", \"XMLHttpRequest\");\n      request.AddQueryParameter(\"fields\", \"name,validated_data\");\n      request.AddQueryParameter(\"category\", \"Capital Activity\");\n      var response = client.Execute(request);\n      Console.WriteLine(response.Content);"
      security:
      - bearerAuth: []
    servers:
    - url: https://api.canoesoftware.com
      description: Production API
  /v1/funds/{id}/documents:
    get:
      tags:
      - Funds
      summary: Download A Single Fund's Documents
      description: Download a specific Fund's documents in a ZIP file. Each fetch will download up to 100 documents. By default, this will fetch the first 100 documents in the Intelligent Document Center. A successful call to this endpoint will only contain the binary file and not the JSON data.
      operationId: DownloadSingleFundsDocumentdata
      parameters:
      - name: id
        in: path
        description: The id of the fund.
        required: true
        schema:
          type: string
          example: '1'
      - name: start_time
        in: query
[...]
